
<div class="panel panel-default" ng-show="vm.message">
    <div class="kode-alert alert5 bloc">
        {{vm.message}}
    </div>
</div>
<div class="col-xs-12">

    <div class="addnbt panel-body">
        <div class="margin-b-10">
            <button class="btn-default add-iconcnt add-contact-button" ng-click="vm.addNewContact(contact.Id, $event);"><i class="fa fa-plus"></i> </button>
            <button class="btn-rounded color22 search_icon" ng-click="startSearch();changeWithOutSubTabs('search')"><i class="fa fa-search"></i></button>
            <!--<button class="round-bt-search"><i class="fa fa-search"></i></button>-->
        </div>
       
    </div>


    <div class="show-grid">

        <div class="col-md-12 col-xs-12 show-grid-leads" ng-repeat="contact in vm.Contacts" ng-click="vm.showcontactdetail(contact.Id, $event)">
            <div class="details">
                <div class="padding-10">
                    <div class="row">
                        <div class="col-lg-1 col-sm-1 col-md-2 col-xs-3">
                            <img class="profile-image-card  img-responsive" src="../master_page/img/profileimg.png" />
                        </div>
                        <div class="col-lg-10 col-sm-10 col-md-9 col-xs-8">
                            <div class="card-company-name">Company Name</div>
                            <div>12,Aug 2016 </div>
                        </div>
                        <div class="col-lg-1 col-sm-1 col-md-1 col-xs-1">
                            <button class="btn-default add-quo-bk add-icon add-lead-button color21 fd-call-bt" ng-click="vm.call();"><i class="fa fa-phone"></i></button>
                        </div>
                    </div>

                    <div class="clear-fix"></div>
                    <ul class="basic-new-list basic-list">
                        <li class="margin-l-15 margin-r-15">{{contact.FullName}}</li>
                        <li class="margin-l-15 margin-r-15 text-right">{{contact.Company}}</li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="margin-l-15 margin-r-15">{{contact.Phone}}</li>
                        <li class="margin-l-15 margin-r-15 text-right">{{contact.Email}} </li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="fullwid margin-l-15 margin-r-15 text-center">{{contact.ShortDescription}}</li>

                        <!--<li class="margin-l-15 margin-r-15">{{contact.FullName}} <span class="right">{{contact.Company}}</span></li>
                        <li class="margin-l-15 margin-r-15">{{contact.Phone}} <span class="right">{{contact.Email}}</span></li>-->
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>

