
        <div class="panel panel-default" ng-show="vm.message">
            <div class="kode-alert alert5 bloc">
                {{vm.message}}
            </div>
        </div>
        <div class="col-xs-12">

            <div class="panel-body">
                <div class="margin-b-10">
                    <button class="btn-default add-icon add-account-button" ng-click="vm.addNewAccount(account.Id, $event);"><i class="fa fa-plus"></i> </button>
                </div>
            </div>

                <div class="show-grid">
                    
                        <div class="col-md-6 col-xs-12 col-md-offset-3 show-grid-leads" ng-repeat="account in vm.Accounts" ng-click="vm.showaccountdetail(account.Id, $event)">
                            <div class="details">
                                <div class="padding-10">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img class="profile-image-card  img-responsive" src="../master_page/img/profileimg.png" />
                                        </div>
                                        <div class="col-xs-9">
                                            <div class="card-company-name">Company Name1</div>
                                            <div>12,Aug 2016 </div>
                                        </div>
                                    </div>
                                   
                                    <div class="clear-fix"></div>
                                    <ul class="basic-list">
                                        <li class="margin-l-15 margin-r-15">{{account.LeadContact}} <span class="right">{{account.Revenue}}</span></li>
                                        <li class="margin-l-15 margin-r-15">{{account.Salesman}} <span class="right">{{account.SalesStage}}</span></li>
                                        <li class="margin-l-15 margin-r-15">{{account.Phone}}  <span class="right"><button ng-click="call();" class="margin-l-10 card-call"><i class="fa fa-phone"></i></button></span></li>
                                    </ul>
                                </div>
                            </div>
                           
                        </div>
                </div>

            </div>

