﻿        <div ng-show="vm.Account">
      hi              <div role="tabpanel">
                        <div class="subTabs">
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills nav-icon rounded-nav" role="tablist">
                                <li role="presentation" ng-class="{ 'b1': subActiveTab=='details' }"><a class="btn-rounded color1" ng-click="changeSubTabs('details');" href="javascript:void(0);"  aria-controls="details" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-asterisk"></i></a></li>
                                <li role="presentation" ng-class="{ 'b2': subActiveTab=='posts' }"><a class="btn-rounded color2" ng-click="changeSubTabs('posts');" href="javascript:void(0);" aria-controls="Posts" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-check-square-o"></i></a></li>
                                <li role="presentation" ng-class="{ 'b3': subActiveTab=='events' }"><a class="btn-rounded color3" ng-click="changeSubTabs('events');" href="javascript:void(0);" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-calendar-o"></i></a></li>
                                <li role="presentation" ng-class="{ 'b4': subActiveTab=='notes' }"><a class="btn-rounded color4" ng-click="changeSubTabs('notes');" href="javascript:void(0);"  aria-controls="Notes" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-file"></i></a></li>
                                <li role="presentation" ng-class="{ 'b5': subActiveTab=='uploads' }"><a class="btn-rounded color5" ng-click="changeSubTabs('uploads');" href="javascript:void(0);" aria-controls="Uploads" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-upload"></i></a></li>
                                <li role="presentation" ng-class="{ 'b6': subActiveTab=='replies' }"><a class="btn-rounded color6" ng-click="changeSubTabs('replies');" href="javascript:void(0);" aria-controls="replies" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-share-square-o"></i></a></li>
                            </ul>
                        </div>

                        <!-- Tab panes -->
                        <div class="tab-content" ng-style="subActiveTab=='events' && vm.addNewEvent ==false && {'background-color':'#ededed'}" ng-class="{ 'padding-0 margin-0': subActiveTab=='events' && vm.addNewEvent ==false }">
                            <div role="tabpanel" ng-class="{ 'active': subActiveTab=='details' }" class="tab-pane" id="details">
                                <div class="details" ng-show="!vm.showAddForm">
                                    <ul class="basic-list">
                                        <li>Account Name <span class="right">{{vm.Account.Company}}</span></li>
                                        <li>Creation Date <span class="right">{{vm.Account.CreationDate | date}}</span></li>
                                        <li>Account Contact <span class="right">{{vm.Account.LeadContact}}</span></li>
                                        <li>Account Subject <span class="right">{{vm.Account.Subject}}</span></li>
                                        <li>Description <span class="right">{{vm.Account.Description}}</span></li>
                                        <li>Hot Account <span class="right">{{vm.Account.HotLead}}</span></li>
                                        <li>Account Source <span class="right">{{vm.Account.LeadSource}}</span></li>
                                        <li>Sales Stage <span class="right">{{vm.Account.SalesStage}}</span></li>
                                        <li>Salesman <span class="right">{{vm.Account.Salesman}}</span></li>
                                        <li>Reffered By <span class="right">{{vm.Account.ReferredBy}}</span></li>
                                    </ul>
                                </div>
                                <div class="addEditForm" ng-show="vm.showAddForm">

                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label form-label">Account Name*</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" ng-model="vm.Account.CompanyId">
                                                    <option ng-repeat="item in vm.AcountName" value="{{item.Value}}">{{item.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label form-label">Creation Date*</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" type="date" ng-model="vm.Account.CreationDate" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label form-label">Account Contact*</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" ng-model="vm.Account.LeadContactId">
                                                    <option ng-repeat="item in vm.LeadContact" value="{{item.Value}}">{{item.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label form-label">Account Subject*</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" ng-model="vm.Account.Subject" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label form-label">Account Description</label>
                                            <div class="col-sm-8">
                                                <textarea class="form-control" rows="3" ng-model="vm.Account.Description"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label form-label">Hot Account</label>
                                            <div class="col-sm-8">
                                                <input type="checkbox" ng-model="vm.Account.HotLead">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label form-label">Account Source</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" ng-model="vm.Account.LeadSourceId">
                                                    <option ng-repeat="item in vm.LeadSource" value="{{item.Value}}">{{item.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label form-label">Sales Stage</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" ng-model="vm.Account.SalesStageId">
                                                    <option ng-repeat="item in vm.SalesStage" value="{{item.Value}}">{{item.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label form-label">Salesman</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" ng-model="vm.Account.SalesManId">
                                                    <option ng-repeat="item in vm.Salesman" value="{{item.Value}}">{{item.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label form-label">Reffered By</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" ng-model="vm.Account.ReferredById">
                                                    <option ng-repeat="item in vm.ReferredBy" value="{{item.Value}}">{{item.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="row">
                                    <hr />
                                    <div class="col-xs-12">
                                        <div class="text-c">
                                            <span ng-show="subActiveTab=='details'"><contact-control email="vm.email();" call="vm.call();" obj="lead"></contact-control></span>
                                            <button class="add-icon" ng-click="vm.add();" ng-show="vm.showadd"><i class="fa fa fa-plus"></i></button>
                                            <button class="save-icon" ng-click="vm.save();" ng-show="vm.showsave"><i class="fa fa-save"></i></button>
                                            <button class="edit-icon" ng-click="vm.edit();" ng-show="vm.showedit"><i class="fa fa-pencil"></i></button>
                                            <button class="delete-icon" ng-click="vm.delete();" ng-show="vm.showdelete"><i class="fa fa-times"></i></button>
                                            <button class="back-icon" ng-click="vm.back();" ng-show="vm.showback"><i class="fa fa-arrow-left"></i></button>
                                            <button class="cancel-icon" ng-click="vm.cancel();" ng-show="vm.showcancel"><i class="fa fa-close"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" ng-class="{ 'active': subActiveTab=='posts' }" class="tab-pane" id="posts">
                                <div style="margin-bottom:10px;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>Select Activity Type</option>
                                                    <option ng-repeat="activity in vm.ActivityType">{{activity.Name}}</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" rows="5" ng-model="vm.newActivity_Text"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button class="save-icon-sml" ng-click="vm.addNewActivity();"><i class="fa fa-plus"></i></button>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="reply-panel">
                                        <ul class="timeline">
                                            <li ng-repeat="a in vm.Account.Activities track by $index">
                                                <div class="timeline-badge"><i class="fa fa-file"></i></div>
                                                <div class="timeline-panel">
                                                    <div class="timeline-heading">
                                                        <span class="timeline-title replies-color-1">{{a.Name}} , 12 May 2015</span>
                                                        <button class="delete-icon-sml pull-right" ng-click="deleteNotes(a.NotesID);" ng-show="!a.EditNotes"><i class="fa fa-times"></i></button>
                                                    </div>
                                                    <div class="timeline-body" style="cursor:pointer;" ng-click="a.EditNotes = !a.EditNotes" ng-show="!a.EditNotes">
                                                        <p>{{a.Text}}</p>
                                                    </div>
                                                    <textarea rows="2" class="form-control" placeholder="Edit a Note" ng-show="a.EditNotes" ng-model="a.Text"> </textarea>
                                                    <div class="margin-t-15">
                                                        <button ng-show="a.EditNotes" ng-click="vm.save();a.EditNotes = !a.EditNotes" class="save-icon-sml"> <i class="fa fa-save"></i></button>
                                                        <button ng-show="a.EditNotes" ng-click="a.EditNotes = !a.EditNotes" class="cancel-icon-sml"><i class="fa fa-minus-square"></i></button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" ng-class="{ 'active': subActiveTab=='events' }" class="tab-pane" id="events">
                                <div ng-include="'/ClientCustomization/leads/events.html'"></div>
                            </div>
                            <div role="tabpanel" ng-class="{ 'active': subActiveTab=='notes' }" class="tab-pane" id="notes">
                                <div style="margin-bottom:10px;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="3" ng-model="vm.newNotes_Text"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button class="save-icon-sml" ng-click="vm.addNewNotes();"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="reply-panel">
                                        <ul class="timeline">
                                            <li ng-repeat="a in vm.Account.Notes track by $index">
                                                <div class="timeline-badge"><i class="fa fa-file"></i></div>
                                                <div class="timeline-panel">
                                                    <div class="timeline-heading">
                                                        <span class="timeline-title replies-color-1">{{a.Name}} , 12 May 2015</span>
                                                        <button class="delete-icon-sml pull-right" ng-click="deleteNotes(a.NotesID);" ng-show="!a.EditNotes"><i class="fa fa-times"></i></button>
                                                    </div>
                                                    <div class="timeline-body" style="cursor:pointer;" ng-click="a.EditNotes = !a.EditNotes" ng-show="!a.EditNotes">
                                                        <p>{{a.Text}}</p>
                                                    </div>
                                                    <textarea rows="2" class="form-control" placeholder="Edit a Note" ng-show="a.EditNotes" ng-model="a.Text"> </textarea>
                                                    <div class="margin-t-15">
                                                        <button ng-show="a.EditNotes" ng-click="vm.save();a.EditNotes = !a.EditNotes" class="save-icon-sml"> <i class="fa fa-save"></i></button>
                                                        <button ng-show="a.EditNotes" ng-click="a.EditNotes = !a.EditNotes" class="cancel-icon-sml"><i class="fa fa-minus-square"></i></button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                            <div role="tabpanel" ng-class="{ 'active': subActiveTab=='uploads' }" class="tab-pane" id="uploads">
                              
                                <div ngf-drop ngf-select ng-model="files" class="drop-box"
                                     ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                                     accept="image/*,application/pdf"
                                     ngf-pattern="'image/*,application/pdf'">Drop files here or click to upload</div>
                                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

                                <div class="row">
                                    <ul class="list-unstyled padding-10 margin-t-15">
                                        <li ng-repeat="a in vm.Account.Uploads track by $index">
                                            File: {{a.Name}}
                                             <span class="pull-right padding-l-15">
                                                 <button class="external-icon-sml margin-r-15"><i class="fa fa-eye"></i></button>
                                                <button class="delete-icon-sml"><i class="fa fa-close"></i></button>
                                            </span>
                                            <hr class="margin-t-10 margin-b-10" />
                                        </li>
                                            <!--<li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>-->
                                    </ul>
                                </div>

                            </div>
                            <div role="tabpanel" ng-class="{ 'active': subActiveTab=='replies' }" class="tab-pane" id="replies">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <select class="form-control" placeholder="Select Recipients" ng-model="vm.reply.Recepients">
                                                    <option value="0">Select Recipients</option>
                                                    <option>Michael</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                    <textarea class="form-control" rows="5" placeholder="Create a Comment" ng-model="vm.reply.Text"></textarea>
                                            </div>
                                            <div class="form-group">
                                                    <div class="checkbox checkbox-success checkbox-inline">
                                                        <input type="checkbox" ng-model="vm.reply.excludeProspect" id="ExcludeProspect" value="ExcludeProspect" name="ExcludeProspect">
                                                        <label for="ExcludeProspect"> Exclude Prospect </label>
                                                    </div>
                                            </div>
                                            <div class="form-group">
                                                <button class="upload-icon-sml"> <i class="fa fa-upload"></i></button>
                                                <button class="reply-icon-sml" ng-click="vm.addNewReply()"><i class="fa fa-mail-reply-all"></i></button>
                                            </div>
                                            <hr />
                                        </div>
                                    </div>

                                <div class="reply-panel">
                                    
                                    <ul class="timeline">
                                        <li ng-repeat="a in vm.Account.Replies track by $index">
                                            <div class="timeline-badge"><i class="fa fa-file-text-o"></i></div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <span class="timeline-title replies-color-1">{{a.Recepients}}, </span>
                                                    <span class="text-muted replies-color-1">{{a.CreationDate | date}}</span>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>{{a.Comment}}</p>

                                                    <ul class="timeline timeline-2">
                                                        <li ng-repeat="b in a.OtherReplies">
                                                            <div class="timeline-badge"><i class="fa fa-mail-reply-all"></i></div>
                                                            <div class="timeline-panel">
                                                                <div class="timeline-heading">
                                                                    <span class="timeline-title replies-color-2">{{b.Recepients}}, </span>
                                                                    <span class="text-muted replies-color-2">{{b.CreationDate | date}}</span>
                                                                </div>
                                                                <div class="timeline-body">
                                                                    <p>{{b.Comment}}</p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    
                                                </div>
                                                <input type="text" class="form-control" placeholder="Reply to a Comment" ng-model="vm.subreply.Text">
                                                <div class="margin-t-10">
                                                    <button class="upload-icon-sml"> <i class="fa fa-upload"></i></button>
                                                    <button class="reply-icon-sml" ng-click="vm.addsubreply($index);"><i class="fa fa-mail-reply-all"></i></button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                    

                            </div>
                        </div>
                           
                    </div>
            
        </div>

        <div class="panel panel-default" ng-show="!vm.Account">
            <div class="kode-alert alert5">
                No Leads Selected. Please select a Account from Leads feed.
            </div>
        </div>


