﻿<div>
    <div class="panel-body">
        <div class="col-md-12">
            <ul class="topstats clearfix">
                <li class="col-xs-6 col-lg-2">
                    <span class="title"><i class="fa fa-dot-circle-o"></i> Today's Sales</span>
                    <h3>$36.45</h3>
                    <span class="diff"><b class="color-down"><i class="fa fa-caret-down"></i> 26%</b> from yesterday</span>
                </li>
                <li class="col-xs-6 col-lg-2">
                    <span class="title"><i class="fa fa-calendar-o"></i> This Week</span>
                    <h3>$96.25</h3>
                    <span class="diff"><b class="color-up"><i class="fa fa-caret-up"></i> 26%</b> from last week</span>
                </li>
                <li class="col-xs-6 col-lg-2">
                    <span class="title"><i class="fa fa-shopping-cart"></i> Total Sales</span>
                    <h3 class="color-up">696</h3>
                    <span class="diff"><b class="color-up"><i class="fa fa-caret-up"></i> 26%</b> from last month</span>
                </li>
                <li class="col-xs-6 col-lg-2">
                    <span class="title"><i class="fa fa-users"></i> Visitors</span>
                    <h3>960</h3>
                    <span class="diff"><b class="color-down"><i class="fa fa-caret-down"></i> 26%</b> from yesterday</span>
                </li>
                <li class="col-xs-6 col-lg-2">
                    <span class="title"><i class="fa fa-eye"></i> Page View</span>
                    <h3 class="color-up">46.230</h3>
                    <span class="diff"><b class="color-down"><i class="fa fa-caret-down"></i> 26%</b> from yesterday</span>
                </li>
                <li class="col-xs-6 col-lg-2">
                    <span class="title"><i class="fa fa-clock-o"></i> Avarage Time</span>
                    <h3 class="color-down">2:10<small>min</small></h3>
                    <span class="diff"><b class="color-up"><i class="fa fa-caret-up"></i> 26%</b> from last week</span>
                </li>
            </ul>
        </div>

        <div class="col-md-12 col-lg-6">
            <div class="panel panel-widget">
                <div class="panel-title">
                    Today Leads <span class="label label-info">62</span>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>Create Date</td>
                                <td>Subject</td>
                                <td>Salesman</td>
                                <td>Potential Revenue</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>7/28/2016</td>
                                <td>Sample Lead 1 Subject</td>
                                <td>Michael De Marco</td>
                                <td>$2,600.00</td>
                            </tr>
                            <tr>
                                <td>7/28/2016</td>
                                <td>Sample Lead 2 Subject</td>
                                <td>Michael De Marco</td>
                                <td>$4,600.00</td>
                            </tr>
                            <tr>
                                <td>7/28/2016</td>
                                <td>Sample Lead 3 Subject</td>
                                <td>Michael De Marco</td>
                                <td>$1,600.00</td>
                            </tr>
                            <tr>
                                <td>9/28/2016</td>
                                <td>Sample Lead 4 Subject</td>
                                <td>Michael De Marco</td>
                                <td>$30,600.00</td>
                            </tr>
                            <tr>
                                <td>9/28/2016</td>
                                <td>Sample Lead 5 Subject</td>
                                <td>Michael De Marco</td>
                                <td>$15,600.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="panel panel-widget">
                <div class="panel-title">
                    TODAYS SCHEDULE <span class="label label-info">04</span>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>Purpose</td>
                                <td>Description</td>
                                <td>Start Date</td>
                                <td>End Date</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>To define data</td>
                                <td>lorem ipsum</td>
                                <td>02/20/2016</td>
                                <td>04/20/2016</td>
                            </tr>
                            <tr>
                                <td>To define data</td>
                                <td>lorem ipsum</td>
                                <td>02/20/2016</td>
                                <td>04/20/2016</td>
                            </tr>
                            <tr>
                                <td>To define data</td>
                                <td>lorem ipsum</td>
                                <td>02/20/2016</td>
                                <td>04/20/2016</td>
                            </tr>
                            <tr>
                                <td>To define data</td>
                                <td>lorem ipsum</td>
                                <td>03/20/2016</td>
                                <td>04/20/2016</td>
                            </tr>
                            <tr>
                                <td>To define data</td>
                                <td>lorem ipsum</td>
                                <td>01/20/2016</td>
                                <td>05/20/2016</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
