﻿<div style="min-height:400px;">
    <div class="panel-body">
        <div class="col-md-4 col-md-offset-4">
            <button class="btn btn-block btn-primary btn-xl">Sync</button>
        </div>
    </div>
</div>
