﻿<style type="text/css">
	div.custom-wrapper {
		background-color: #f1f2f3;
	}
	div.custom-wrapper div.row {
		border-bottom: 1px solid #e6e6e6;
		padding-top: 10px;
	}
	div.custom-wrapper div.row a {
		color: orange;
	}
	div.custom-wrapper div.headbuttons {
		text-align: center;
		padding-top: 0;
	}
	div.custom-wrapper div.headbuttons div.row {
		border: none;
		padding-top: 0;
	}
	div.custom-wrapper div.headbuttons div.col-xs-4 a {
		text-decoration: none;
		display: block;
		width: 100%;
		height: 100%;
		color: #333;
	}
	div.custom-wrapper div.headbuttons div.col-xs-4 a {
		padding-bottom: 16px;
		padding-top: 16px;
	}
	div.custom-wrapper div.headbuttons div.col-xs-4 a:hover, div.custom-wrapper div.headbuttons div.col-xs-4 a.active {
		border-bottom: 2px solid orange;
		padding-bottom: 14px;
	}
</style>

<div class="custom-wrapper">
<div class="container-fluid">

	<div class="row headbuttons">
		<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<a href="#" ng-click="vm.showleadfeed($event)" ng-class="{'active': vm.feedactive}">Feed</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<a href="#" ng-click="vm.showleaddetail(vm.Lead.Id, $event)" ng-class="{'active': vm.detailactive}">Details</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<a href="#" ng-click="vm.showrelatedctrl($event)" ng-class="{'active': vm.relatedactive}">Related</a>
				</div>
			</div>
		</div>
	</div>

</div>
	</div>