﻿
<div class="panel panel-default" ng-show="vm.message">
    <div class="kode-alert alert5 bloc">
        {{vm.message}}
    </div>
</div>
<div class="col-xs-12">

    <div class="panel-body">
        <div class="margin-b-10">
            <button class="btn-default add-icon add-lead-button" ng-click="vm.addNewForecasting(forecasting.Id, $event);"><i class="fa fa-plus"></i> </button>
        </div>
    </div>


    <div class="show-grid">

        <div class="col-md-6 col-xs-12 col-md-offset-3 show-grid-leads" ng-repeat="forecasting in vm.Forecasting" ng-click="vm.showforecastingdetail(forecasting.Id, $event)">
            <div class="details">
                <div class="padding-10">
                    <div class="row">
                        <div class="col-xs-3">
                            <img class="profile-image-card  img-responsive" src="../master_page/img/profileimg.png" />
                        </div>
                        <div class="col-xs-9">
                            <div class="card-company-name">Company Name</div>
                            <div>12,Aug 2016 </div>
                        </div>
                    </div>

                    <div class="clear-fix"></div>
                    <ul class="basic-list">
                        <li class="margin-l-15 margin-r-15">{{forecasting.ForecastName}} <span class="right">{{forecasting.CreationDate}}</span></li>
                        <li class="margin-l-15 margin-r-15">{{forecasting.Title}} <span class="right">{{forecasting.ForecastType}}</span></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>

