﻿<div ng-show="vm.Product">

    <div role="tabpanel">

        <div class="mod-nav-st subTabs">
            <!-- Nav tabs -->
            <ul class="nav nav-pills nav-icon rounded-nav" role="tablist">
                <!--<li ng-class="{ 'b21': activeiconadd==true }"><a class="btn-rounded color21" ng-click="changeWithOutSubTabs('add');vm.call();"><i class="fa fa-phone"></i></a></li>
                <li ng-class="{ 'b21': activeiconadd==true }"><a class="btn-rounded color21" ng-click="changeWithOutSubTabs('add');vm.addNewProduct(vm.Product.Id, $event)"><i class="fa fa-plus"></i></a></li>-->


                <!--<li ng-class="{ 'b22': activeiconsearch==true }"><a class="btn-rounded color22" ng-click="startSearch();changeWithOutSubTabs('search')"><i class="fa fa-search"></i></a></li>-->
                <li ng-class="{ 'b21': activeiconadd==true }"><a class="btn-rounded color21" ng-click="changeWithOutSubTabs('add');vm.addNewProduct(vm.Product.Id, $event)"><i class="fa fa-plus"></i></a>
<li role="presentation" ng-class="{ 'b1': subActiveTab=='details' }"><a class="btn-rounded color1" ng-click="changeSubTabs('details');" aria-controls="details" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-asterisk"></i></a></li>
                <li role="presentation" ng-class="{ 'b2': subActiveTab=='posts' }"><a class="btn-rounded color2" ng-click="changeSubTabs('posts');" aria-controls="Posts" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-check-square-o"></i></a></li>
                <li role="presentation" ng-class="{ 'b3': subActiveTab=='events' }"><a class="btn-rounded color3" ng-click="changeSubTabs('events');" aria-controls="Events" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-calendar-o"></i></a></li>
                <li role="presentation" ng-class="{ 'b4': subActiveTab=='notes' }"><a class="btn-rounded color4" ng-click="changeSubTabs('notes');" aria-controls="Notes" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-file"></i></a></li>
                <li role="presentation" ng-class="{ 'b5': subActiveTab=='uploads' }"><a class="btn-rounded color5" ng-click="changeSubTabs('uploads');" aria-controls="Uploads" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-upload"></i></a></li>
                <li role="presentation" ng-class="{ 'b6': subActiveTab=='replies' }"><a class="btn-rounded color6" ng-click="changeSubTabs('replies');" aria-controls="replies" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-share-square-o"></i></a></li>


            </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content" ng-style="subActiveTab=='events' && vm.addNewEvent ==false && {'background-color':'#ededed'}" ng-class="{ 'padding-0 margin-0': subActiveTab=='events' && vm.addNewEvent ==false }">
            <div role="tabpanel" ng-class="{ 'active': subActiveTab=='details' }" class="detail-list-top tab-pane" id="details">
                <div class="mod-details details" ng-show="!vm.showAddForm">
                    <ul class="basic-new-list basic-list">
                        <li class="margin-l-15 margin-r-15">Product Name:</li>
                        <li class="margin-l-15 margin-r-15 text-right">{{vm.Product.ProductName}}</li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="margin-l-15 margin-r-15">Creation Date:</li>
                        <li class="margin-l-15 margin-r-15 text-right">{{vm.Product.CreationDate | date}}</li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="margin-l-15 margin-r-15">Email:</li>
                        <li class="margin-l-15 margin-r-15 text-right">{{vm.Product.Email}}</li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="margin-l-15 margin-r-15">Phone:</li>
                        <li class="margin-l-15 margin-r-15 text-right">{{vm.Product.Phone | number}} </li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="margin-l-15 margin-r-15">Product Code:</li>
                        <li class="margin-l-15 margin-r-15 text-right">{{vm.Product.ProductCode}}</li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="margin-l-15 margin-r-15">Category:</li>
                        <li class="margin-l-15 margin-r-15 text-right">{{vm.Product.Category}}</li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="margin-l-15 margin-r-15">Sales Start Date:</li>
                        <li class="margin-l-15 margin-r-15 text-right">{{vm.Product.SalesStartDate | date}} </li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="margin-l-15 margin-r-15">Sales End Date:</li>
                        <li class="margin-l-15 margin-r-15 text-right">{{vm.Product.SalesEndDate | date}}</li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="margin-l-15 margin-r-15">Manufacturer:</li>
                        <li class="margin-l-15 margin-r-15 text-right">{{vm.Product.Manufacturer}}</li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="margin-l-15 margin-r-15">PriceBook:</li>
                        <li class="margin-l-15 margin-r-15 text-right">{{vm.Product.PriceBook}}</li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="margin-l-15 margin-r-15">Unit Price:</li>
                        <li class="margin-l-15 margin-r-15 text-right">{{vm.Product.UnitPrice | number}} </li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="margin-l-15 margin-r-15">Tax:</li>
                        <li class="margin-l-15 margin-r-15 text-right">{{vm.Product.Tax}}</li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="margin-l-15 margin-r-15">Usage Unit:</li>
                        <li class="margin-l-15 margin-r-15 text-right">{{vm.Product.UsageUnit}}</li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="margin-l-15 margin-r-15">Qty Ordered:</li>
                        <li class="margin-l-15 margin-r-15 text-right">{{vm.Product.QtyOrdered | number}}</li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="margin-l-15 margin-r-15">Qty Instock:</li>
                        <li class="margin-l-15 margin-r-15 text-right">{{vm.Product.QtyInstock | number}}</li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="margin-l-15 margin-r-15">Reorder Level:</li>
                        <li class="margin-l-15 margin-r-15 text-right">{{vm.Product.ReorderLevel | number}}</li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="margin-l-15 margin-r-15">Qty InDemand:</li>
                        <li class="margin-l-15 margin-r-15 text-right">{{vm.Product.QtyInDemand | number}}</li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="margin-l-15 margin-r-15">Description:</li>
                        <li class="margin-l-15 margin-r-15 text-right">{{vm.Product.Description}}</li>


                        <!---<li>Product Name <span class="right">{{vm.Product.ProductName}}</span></li>
                        <li>Creation Date <span class="right">{{vm.Product.CreationDate | date}}</span></li>
                        <li>Product Code <span class="right">{{vm.Product.ProductCode}}</span></li>
                        <li>Category <span class="right">{{vm.Product.Category}}</span></li>
                        <li>Sales Start Date <span class="right">{{vm.Product.SalesStartDate}}</span></li>
                        <li>Sales End Date <span class="right">{{vm.Product.SalesEndDate}}</span></li>
                        <li>Manufacturer<span class="right">{{vm.Product.Manufacturer}}</span></li>
                        <li>PriceBook <span class="right">{{vm.Product.PriceBook}}</span></li>
                        <li>Unit Price <span class="right">{{vm.Product.UnitPrice}}</span></li>
                        <li>Tax <span class="right">{{vm.Product.Tax}}</span></li>
                        <li>Usage Unit <span class="right">{{vm.Product.UsageUnit}}</span></li>
                        <li>Qty Ordered <span class="right">{{vm.Product.QtyOrdered}}</span></li>
                        <li>Qty Instock <span class="right">{{vm.Product.QtyInstock}}</span></li>
                        <li>Reorder Level<span class="right">{{vm.Product.ReorderLevel}}</span></li>
                        <li>Qty InDemand<span class="right">{{vm.Product.QtyInDemand}}</span></li>
                        <li>Description<span class="right">{{vm.Product.Description}}</span></li>-->
                    </ul>
                </div>
                <div class="add-edit-fd addEditForm" ng-show="vm.showAddForm">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label"><span>*</span>Product Name:</label>
                            <div class="col-sm-5">
                                <select class="form-control" ng-model="vm.Product.ProductName">
                                    <option ng-repeat="item in vm.ProductName" value="{{item.Value}}">{{item.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label"><span>*</span>Creation Date:</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="date" ng-model="vm.Product.CreationDate" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label"><span>*</span>Email:</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="email" ng-model="vm.Product.Email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">Phone:</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="number" ng-model="vm.Product.Phone" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">Product Code:</label>
                            <div class="col-sm-5">
                                <select class="form-control" ng-model="vm.Product.ProductCode">
                                    <option ng-repeat="item in vm.ProductCode" value="{{item.Value}}">{{item.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">Category:</label>
                            <div class="col-sm-5">
                                <select class="form-control" ng-model="vm.Product.Category">
                                    <option ng-repeat="item in vm.Category" value="{{item.Value}}">{{item.Name}}</option>
                                </select>

                                <!-- <input type="text" class="form-control" ng-model="vm.Product.Subject" />-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">Sales Start Date:</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="date" ng-model="vm.Product.SalesStartDate" />

                                <!--<textarea class="form-control" rows="3" ng-model="vm.Product.Description"></textarea>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">Sales End Date:</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="date" ng-model="vm.Product.SalesEndDate" />

                                <!--<select class="form-control" ng-model="vm.Product.SalesEndDate">
                                    <option ng-repeat="item in vm.ProductSource" value="{{item.Value}}">{{item.Name}}</option>
                                </select>-->

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">Manufacturer:</label>
                            <div class="col-sm-5">
                                <select class="form-control" ng-model="vm.Product.Manufacturer">
                                    <option ng-repeat="item in vm.Manufacturer" value="{{item.Value}}">{{item.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">PriceBook:</label>
                            <div class="col-sm-5">
                                <select class="form-control" ng-model="vm.Product.PriceBook">
                                    <option ng-repeat="item in vm.PriceBook" value="{{item.Value}}">{{item.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">Unit Price:</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="text" ng-model="vm.Product.UnitPrice" />

                                <!--<select class="form-control" ng-model="vm.Product.ReferredById">
                                    <option ng-repeat="item in vm.ReferredBy" value="{{item.Value}}">{{item.Name}}</option>
                                </select>-->

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">Tax:</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="text" ng-model="vm.Product.Tax" />

                                <!--<select class="form-control" ng-model="vm.Product.ReferredById">
                                    <option ng-repeat="item in vm.ReferredBy" value="{{item.Value}}">{{item.Name}}</option>
                                </select>-->

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">Usage Unit:</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="text" ng-model="vm.Product.UsageUnit" />

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">Qty Ordered:</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="number" ng-model="vm.Product.QtyOrdered" />

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">Qty Instock:</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="number" ng-model="vm.Product.QtyInstock" />

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">Reorder Level:</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="number" ng-model="vm.Product.ReorderLevel" />

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">Qty InDemand:</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="number" ng-model="vm.Product.QtyInDemand" />

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">Description:</label>
                            <div class="col-sm-5">
                                <textarea class="form-control" rows="3" ng-model="vm.Product.Description"></textarea>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <hr />
                    <div class="col-xs-12">
                        <div class="text-c">
                            <!-- <span ng-show="subActiveTab=='details'"><contact-control email="vm.email();" call="vm.call();" obj="lead"></contact-control></span>
    <button class="add-icon" ng-click="vm.add();" ng-show="vm.showadd"><i class="fa fa fa-plus"></i></button>-->

                            <button class="save-icon" ng-click="vm.save();" ng-show="vm.showsave"><i class="fa fa-save"></i></button>
                            <button class="edit-icon" ng-click="vm.edit();" ng-show="vm.showedit"><i class="fa fa-pencil"></i></button>
                            <button class="delete-icon" ng-click="vm.delete();" ng-show="vm.showdelete"><i class="fa fa-times"></i></button>
                            <button class="back-icon" ng-click="vm.back();" ng-show="vm.showback"><i class="fa fa-arrow-left"></i></button>
                            <button class="cancel-icon" ng-click="vm.cancel();" ng-show="vm.showcancel"><i class="fa fa-close"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" ng-class="{ 'active': subActiveTab=='posts' }" class="tab-pane" id="posts">
                <div style="margin-bottom:10px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select class="form-control">
                                    <option>Select Activity Type</option>
                                    <option ng-repeat="activity in vm.ActivityType">{{activity.Name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="5" ng-model="vm.newActivity_Text"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="save-icon-sml" ng-click="vm.addNewActivity();"><i class="fa fa-save"></i></button>
                            </div>

                        </div>
                    </div>

                    <div class="reply-panel">
                        <ul class="timeline">
                            <li ng-repeat="a in vm.Product.Activities track by $index">
                                <div class="timeline-badge"><i class="fa fa-file"></i></div>
                                <div class="timeline-panel">
                                    <!--<div class="timeline-heading">
                                        <span class="timeline-title replies-color-1">{{a.Name}} , 12 May 2015</span>
                                        <button class="delete-icon-sml pull-right" ng-click="vm.deleteActivities(a.ActivityID);" ng-show="!a.EditActivities"><i class="fa fa-times"></i></button>
                                    </div>
                                    <div class="timeline-body" style="cursor:pointer;" ng-click="a.EditActivities = !a.EditActivities" ng-show="!a.EditActivities">
                                        <p>{{a.Text}}</p>
                                    </div>
                                    <textarea rows="2" class="form-control" placeholder="Edit a Note" ng-show="a.EditActivities" ng-model="a.Text"> </textarea>
                                    <div class="margin-t-15">
                                        <button ng-show="a.EditActivities" ng-click="vm.save();a.EditActivities = !a.EditActivities" class="save-icon-sml"> <i class="fa fa-save"></i></button>
                                        <button ng-show="a.EditActivities" ng-click="a.EditActivities = !a.EditActivities" class="cancel-icon-sml"><i class="fa fa-minus-square"></i></button>
                                    </div>-->
                                    <div class="timeline-heading">
                                        <span class="timeline-title replies-color-1">{{a.Name}} , 12 May 2015</span>
                                        <button class="delete-icon-sml pull-right" ng-click="vm.deleteActivities(a.ActivityID);"><i class="fa fa-times"></i></button>
                                    </div>
                                    <div class="timeline-body" style="cursor:pointer;">
                                        <p>{{a.Text}}</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div role="tabpanel" ng-class="{ 'active': subActiveTab=='events' }" class="tab-pane" id="events">
                <div ng-include="'/ClientCustomization/products/events.html'"></div>
            </div>
            <div role="tabpanel" ng-class="{ 'active': subActiveTab=='notes' }" class="tab-pane" id="notes">
                <div style="margin-bottom:10px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" rows="3" ng-model="vm.newNotes_Text"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="save-icon-sml" ng-click="vm.addNewNotes();"><i class="fa fa-save"></i></button>
                            </div>
                        </div>
                    </div>


                    <div class="reply-panel">
                        <ul class="timeline">
                            <li ng-repeat="a in vm.Product.Notes track by $index">
                                <div class="timeline-badge"><i class="fa fa-file"></i></div>
                                <div class="timeline-panel">
                                    <!--<div class="timeline-heading">
                                        <span class="timeline-title replies-color-1">{{a.Name}} , 12 May 2015</span>
                                        <button class="delete-icon-sml pull-right" ng-click="vm.deleteNotes(a.NotesID);" ng-show="!a.EditNotes"><i class="fa fa-times"></i></button>
                                    </div>
                                    <div class="timeline-body" style="cursor:pointer;" ng-click="a.EditNotes = !a.EditNotes" ng-show="!a.EditNotes">
                                        <p>{{a.Text}}</p>
                                    </div>
                                    <textarea rows="2" class="form-control" placeholder="Edit a Note" ng-show="a.EditNotes" ng-model="a.Text"> </textarea>
                                    <div class="margin-t-15">
                                        <button ng-show="a.EditNotes" ng-click="vm.save();a.EditNotes = !a.EditNotes" class="save-icon-sml"> <i class="fa fa-save"></i></button>
                                        <button ng-show="a.EditNotes" ng-click="a.EditNotes = !a.EditNotes" class="cancel-icon-sml"><i class="fa fa-minus-square"></i></button>
                                    </div>-->
                                    <div class="timeline-heading">
                                        <span class="timeline-title replies-color-1">{{a.Name}} , 12 May 2015</span>
                                        <button class="delete-icon-sml pull-right" ng-click="vm.deleteNotes(a.NotesID);"><i class="fa fa-times"></i></button>
                                    </div>
                                    <div class="timeline-body" style="cursor:pointer;">
                                        <p>{{a.Text}}</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
            <div role="tabpanel" ng-class="{ 'active': subActiveTab=='uploads' }" class="tab-pane" id="uploads">

                <div ngf-drop="vm.upload(vm.files)" ngf-select="vm.upload(vm.files)" ng-model="vm.files" class="drop-box"
                     ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                     accept="image/*,application/pdf"
                     ngf-pattern="'image/*,application/pdf'">Drop files here or click to upload</div>
                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

                <div class="row">
                    <ul class="list-unstyled padding-10 margin-t-15">
                        <li ng-repeat="a in vm.Product.Uploads track by $index">
                            File: {{a.Name}}
                            <span class="pull-right padding-l-15">
                                <button class="external-icon-sml margin-r-15"><i class="fa fa-eye"></i></button>
                                <button class="delete-icon-sml" ng-click="vm.deleteUploads(a.UploadsID);"><i class="fa fa-close"></i></button>
                            </span>
                            <hr class="margin-t-10 margin-b-10" />
                        </li>
                        <!--<li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>-->
                    </ul>
                </div>

            </div>
            <div role="tabpanel" ng-class="{ 'active': subActiveTab=='replies' }" class="tab-pane" id="replies">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <select class="form-control" placeholder="Select Recipients" ng-model="vm.reply.Recepients">
                                <option value="0">Select Recipients</option>
                                <option>Michael</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" placeholder="Create a Comment" ng-model="vm.reply.Text"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="checkbox checkbox-success checkbox-inline">
                                <input type="checkbox" ng-model="vm.reply.excludeProspect" id="ExcludeProspect" value="ExcludeProspect" name="ExcludeProspect">
                                <label for="ExcludeProspect"> Exclude Prospect :</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="upload-icon-sml drop-box" ngf-drop ngf-select ng-model="files"
                                    ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                                    accept="image/*,application/pdf"
                                    ngf-pattern="'image/*,application/pdf'">
                                <i class="fa fa-upload"></i>
                            </button>
                            <button class="reply-icon-sml" ng-click="vm.addNewReply()"><i class="fa fa-mail-reply-all"></i></button>
                        </div>
                        <hr />
                    </div>
                </div>

                <div class="reply-panel">

                    <ul class="timeline">
                        <li ng-repeat="a in vm.Product.Replies track by $index">
                            <div class="timeline-badge"><i class="fa fa-file-text-o"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="timeline-title replies-color-1">{{a.Recepients}}, </span>
                                    <span class="text-muted replies-color-1">{{a.CreationDate | date}}</span>
                                </div>
                                <div class="timeline-body">
                                    <p>{{a.Comment}}</p>

                                    <ul class="timeline timeline-2">
                                        <li ng-repeat="b in a.OtherReplies">
                                            <div class="timeline-badge"><i class="fa fa-mail-reply-all"></i></div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <span class="timeline-title replies-color-2">{{b.Recepients}}, </span>
                                                    <span class="text-muted replies-color-2">{{b.CreationDate | date}}</span>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>{{b.Comment}}</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                                <input type="text" class="form-control" placeholder="Reply to a Comment" ng-model="vm.subreply.Text">
                                <div class="margin-t-10">
                                    <button class="upload-icon-sml drop-box" ngf-drop ngf-select ng-model="files"
                                            ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                                            accept="image/*,application/pdf"
                                            ngf-pattern="'image/*,application/pdf'">
                                        <i class="fa fa-upload"></i>
                                    </button>
                                    <button class="reply-icon-sml" ng-click="vm.addsubreply($index);"><i class="fa fa-mail-reply-all"></i></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>
        </div>

    </div>

</div>

<div class="panel panel-default" ng-show="!vm.Product">
    <div class="kode-alert alert5">
        No Products Selected. Please select a Product from Products feed.
    </div>
</div>


