﻿<div>
    <div class="panel-body">
        <div>
            <!-- Start Top Stats -->
            <div class="col-md-12">
                <ul class="topstats clearfix">
                    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa fa-dot-circle-o"></i> Today's Sales</span>
                        <h3>$36.45</h3>
                        <span class="diff"><b class="color-down"><i class="fa fa-caret-down"></i> 26%</b> from yesterday</span>
                    </li>
                    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa fa-calendar-o"></i> This Week</span>
                        <h3>$96.25</h3>
                        <span class="diff"><b class="color-up"><i class="fa fa-caret-up"></i> 26%</b> from last week</span>
                    </li>
                    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa fa-shopping-cart"></i> Total Sales</span>
                        <h3 class="color-up">696</h3>
                        <span class="diff"><b class="color-up"><i class="fa fa-caret-up"></i> 26%</b> from last month</span>
                    </li>
                    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa fa-users"></i> Visitors</span>
                        <h3>960</h3>
                        <span class="diff"><b class="color-down"><i class="fa fa-caret-down"></i> 26%</b> from yesterday</span>
                    </li>
                    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa fa-eye"></i> Page View</span>
                        <h3 class="color-up">46.230</h3>
                        <span class="diff"><b class="color-down"><i class="fa fa-caret-down"></i> 26%</b> from yesterday</span>
                    </li>
                    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa fa-clock-o"></i> Avarage Time</span>
                        <h3 class="color-down">2:10<small>min</small></h3>
                        <span class="diff"><b class="color-up"><i class="fa fa-caret-up"></i> 26%</b> from last week</span>
                    </li>
                </ul>
            </div>
            <!-- End Top Stats -->
            <!-- Start First Row -->
            <div class="row">
                <!-- Start Chart Daily -->
                <div class="col-md-12 col-lg-9">
                    <div class="panel-widget widget chart-with-stats clearfix" style="height:400px;">
                        <div class="col-sm-12" style="height:450px;">
                            <h4 class="title">TODAY SALES<small>Last update: 1 Hours ago</small></h4>
                            <div class="top-label"><h2>11.291</h2><h4>Today Total</h4></div>
                            <div class="bigchart" id="todaysales"></div>
                        </div>
                        <div class="right" style="height:450px;">
                            <h4 class="title">PAGE VIEW</h4>
                            <!-- start stats -->
                            <ul class="widget-inline-list clearfix">
                                <li class="col-12"><span>962</span>Sales<i class="chart sparkline-green"></i></li>
                                <li class="col-12"><span>367</span>Pipeline<i class="chart sparkline-blue"></i></li>
                                <li class="col-12"><span>92</span>Lost<i class="chart sparkline-red"></i></li>
                            </ul>
                            <!-- end stats -->
                        </div>

                    </div>
                </div>
                <!-- End Chart Daily -->
                <!-- Start Files -->
                <div class="col-md-12 col-lg-3">
                    <div class="panel panel-info panel-widget">
                        <div class="panel-title">
                            TOP SALES (30 DAY VIEW)
                        </div>
                        <div class="panel-body">
                            <ul class="basic-list image-list">
                                <li><img src="img/profileimg.png" alt="img" class="img"><b>Michael De Marco</b><span class="desc">$2,000.00</span></li>
                                <li><img src="img/profileimg.png" alt="img" class="img"><b>Michael De Marco</b><span class="desc">$2,000.00</span></li>
                                <li><img src="img/profileimg.png" alt="img" class="img"><b>Michael De Marco</b><span class="desc">$2,000.00</span></li>
                                <li><img src="img/profileimg.png" alt="img" class="img"><b>Michael De Marco</b><span class="desc">$2,000.00</span></li>
                                <li><img src="img/profileimg.png" alt="img" class="img"><b>Michael De Marco</b><span class="desc">$2,000.00</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!-- End Files -->
            </div>
            <!-- End First Row -->
            <!-- Start Second Row -->
            <div class="row">

                <!-- Start Today Activity -->
                <div class="col-md-12 col-lg-6">
                    <div class="panel panel-widget" style="height:380px;">
                        <div class="panel-title">
                            TODAY ACTIVITY <span class="label label-success">9</span>
                            <ul class="panel-tools panel-tools-hover">
                                <li><a class="icon"><i class="fa fa-refresh"></i></a></li>
                                <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <ul class="widget-inline-list clearfix">
                                <li class="col-4"><span>1:52:22</span>Active Time</li>
                                <li class="col-4"><span>60%</span>Completed</li>
                                <li class="col-4"><span>0:11:46</span>Break Time</li>
                            </ul>
                            <div id="todayactivity" class="chart-on-bottom"></div>
                        </div>
                    </div>
                </div>
                <!-- End Today Activity -->
                <div class="col-md-12 col-lg-6">
                    <div class="panel panel-widget">
                        <div class="panel-title">
                            Projects Stats <span class="label label-info">62</span>
                            <ul class="panel-tools">
                                <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                                <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                                <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                            </ul>
                        </div>
                        <div class="panel-search">
                            <form>
                                <input type="text" class="form-control" placeholder="Search...">
                                <i class="fa fa-search icon"></i>
                            </form>
                        </div>

                        <div class="panel-body table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td>ID</td>
                                        <td>Project</td>
                                        <td>Status</td>
                                        <td class="text-right">Progress</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>965</td>
                                        <td>Kode Dashboard Template</td>
                                        <td><span class="label label-default">Developing</span></td>
                                        <td class="text-right"><span class="demo-project-stats"></span></td>
                                    </tr>
                                    <tr>
                                        <td>620</td>
                                        <td>EBI iOS Application</td>
                                        <td><span class="label label-warning">Design</span></td>
                                        <td class="text-right"><span class="demo-project-stats"></span></td>
                                    </tr>
                                    <tr>
                                        <td>621</td>
                                        <td>Kode Landing Page</td>
                                        <td><span class="label label-info">Testing</span></td>
                                        <td class="text-right"><span class="demo-project-stats"></span></td>
                                    </tr>
                                    <tr>
                                        <td>621</td>
                                        <td>John Coffe Shop Logo</td>
                                        <td><span class="label label-danger">Canceled</span></td>
                                        <td class="text-right"><span class="demo-project-stats"></span></td>
                                    </tr>
                                    <tr>
                                        <td>621</td>
                                        <td>BKM Website Design</td>
                                        <td><span class="label label-primary">Reply waiting</span></td>
                                        <td class="text-right"><span class="demo-project-stats"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Second Row -->
            <!-- Start Third Row -->
            <div class="row">

               
                <div class="col-md-12 col-lg-6">
                    <div class="panel panel-widget">
                        <div class="panel-title">
                            LAST ORDERS <span class="label label-warning">196</span>
                            <ul class="panel-tools">
                                <li><a class="icon search-tool"><i class="fa fa-search"></i></a></li>
                                <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                                <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                                <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                            </ul>
                        </div>
                        <div class="panel-search">
                            <form>
                                <input type="text" class="form-control" placeholder="Search...">
                                <i class="fa fa-search icon"></i>
                            </form>
                        </div>

                        <div class="panel-body table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <td class="text-center"><i class="fa fa-trash"></i></td>
                                        <td>Order ID</td>
                                        <td>Product</td>
                                        <td>Buyer</td>
                                        <td>Date</td>
                                        <td>Payment</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center"><div class="checkbox margin-t-0"><input id="checkbox1" type="checkbox"><label for="checkbox1"></label></div></td>
                                        <td># <b>9652</b></td>
                                        <td>Kode Gaming Laptop</td>
                                        <td>John Doe</td>
                                        <td>12/10/2015</td>
                                        <td>Credit Card</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><div class="checkbox margin-t-0"><input id="checkbox2" type="checkbox"><label for="checkbox2"></label></div></td>
                                        <td># <b>1963</b></td>
                                        <td>New Season Jacket</td>
                                        <td>Jane Doe</td>
                                        <td>12/10/2015</td>
                                        <td>Paypal</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><div class="checkbox margin-t-0"><input id="checkbox3" type="checkbox"><label for="checkbox3"></label></div></td>
                                        <td># <b>9652</b></td>
                                        <td>IO Mouse</td>
                                        <td>Jonathan Doe</td>
                                        <td>12/10/2015</td>
                                        <td>Credit Card</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><div class="checkbox margin-t-0"><input id="checkbox4" type="checkbox"><label for="checkbox4"></label></div></td>
                                        <td># <b>9651</b></td>
                                        <td>Doe Bike</td>
                                        <td>Jonathan Doe</td>
                                        <td>12/10/2015</td>
                                        <td>Credit Card</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-6">
                    <div class="panel panel-widget" style="height:205px;">
                        <div class="panel-title">
                            General Stats
                        </div>
                        <div class="panel-body">
                            <div class="easypie margin-b-50" data-percent="82"><span>82%</span>New Visit</div>
                            <div class="easypie margin-b-50" data-percent="30"><span>30%</span>Order</div>
                            <div class="easypie margin-b-50 margin-b-40" data-percent="62"><span>62%</span>Page View</div>
                            <div class="easypie margin-b-50" data-percent="15"><span>15%</span>Client</div>
                            <div class="easypie margin-b-50" data-percent="45"><span>45%</span>Storage</div>
                            <div class="easypie margin-b-50" data-percent="75"><span>76%</span>Comments</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Third Row -->
          

        </div>
    </div>
</div>
<!-- Today Sales -->
<!-- ================================================
Flot Chart
================================================ -->
<!-- main file -->
<script type="text/javascript" src="js/flot-chart/flot-chart.js"></script>
<!-- time.js -->
<script type="text/javascript" src="js/flot-chart/flot-chart-time.js"></script>
<!-- stack.js -->
<script type="text/javascript" src="js/flot-chart/flot-chart-stack.js"></script>
<!-- pie.js -->
<script type="text/javascript" src="js/flot-chart/flot-chart-pie.js"></script>
<!-- demo codes -->
<script type="text/javascript" src="js/flot-chart/flot-chart-plugin.js"></script>

<!-- ================================================
Chartist
================================================ -->
<!-- main file -->
<script type="text/javascript" src="js/chartist/chartist.js"></script>
<!-- demo codes -->
<script type="text/javascript" src="js/chartist/chartist-plugin.js"></script>

<!-- ================================================
Easy Pie Chart
================================================ -->
<!-- main file -->
<script type="text/javascript" src="js/easypiechart/easypiechart.js"></script>
<!-- demo codes -->
<script type="text/javascript" src="js/easypiechart/easypiechart-plugin.js"></script>

<!-- ================================================
Sparkline
================================================ -->
<!-- main file -->
<script type="text/javascript" src="js/sparkline/sparkline.js"></script>
<!-- demo codes -->
<script type="text/javascript" src="js/sparkline/sparkline-plugin.js"></script>

<!-- ================================================
Rickshaw
================================================ -->
<!-- d3 -->
<script src="js/rickshaw/d3.v3.js"></script>
<!-- main file -->
<script src="js/rickshaw/rickshaw.js"></script>
<!-- demo codes -->
<script src="js/rickshaw/rickshaw-plugin.js"></script>

<!-- ================================================
Data Tables
================================================ -->
<script src="js/datatables/datatables.min.js"></script>
<script>

// set up our data series with 50 random data points

var seriesData = [ [], [], [] ];
var random = new Rickshaw.Fixtures.RandomData(20);

for (var i = 0; i < 110; i++) {
  random.addData(seriesData);
}

// instantiate our graph!

var graph = new Rickshaw.Graph( {
  element: document.getElementById("todaysales"),
  renderer: 'bar',
  series: [
    {
      color: "#33577B",
      data: seriesData[0],
      name: 'Photodune'
    }, {
      color: "#77BBFF",
      data: seriesData[1],
      name: 'Themeforest'
    }, {
      color: "#C1E0FF",
      data: seriesData[2],
      name: 'Codecanyon'
    }
  ]
} );

graph.render();

var hoverDetail = new Rickshaw.Graph.HoverDetail( {
  graph: graph,
  formatter: function(series, x, y) {
    var date = '<span class="date">' + new Date(x * 1000).toUTCString() + '</span>';
    var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
    var content = swatch + series.name + ": " + parseInt(y) + '<br>' + date;
    return content;
  }
} );

</script>

<!-- Today Sales -->
<script>

// set up our data series with 50 random data points

var seriesData = [ [], [], [] ];
var random = new Rickshaw.Fixtures.RandomData(20);

for (var i = 0; i < 110; i++) {
  random.addData(seriesData);
}

// instantiate our graph!

var graph = new Rickshaw.Graph( {
  element: document.getElementById("todaysales"),
  renderer: 'bar',
  series: [
    {
      color: "#33577B",
      data: seriesData[0],
      name: 'Photodune'
    }, {
      color: "#77BBFF",
      data: seriesData[1],
      name: 'Themeforest'
    }, {
      color: "#C1E0FF",
      data: seriesData[2],
      name: 'Codecanyon'
    }
  ]
} );

graph.render();

var hoverDetail = new Rickshaw.Graph.HoverDetail( {
  graph: graph,
  formatter: function(series, x, y) {
    var date = '<span class="date">' + new Date(x * 1000).toUTCString() + '</span>';
    var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
    var content = swatch + series.name + ": " + parseInt(y) + '<br>' + date;
    return content;
  }
} );

</script>

<!-- Today Activity -->
<script>
// set up our data series with 50 random data points

var seriesData = [ [], [], [] ];
var random = new Rickshaw.Fixtures.RandomData(20);

for (var i = 0; i < 50; i++) {
  random.addData(seriesData);
}

// instantiate our graph!

var graph = new Rickshaw.Graph( {
  element: document.getElementById("todayactivity"),
  renderer: 'area',
  series: [
    {
      color: "#9A80B9",
      data: seriesData[0],
      name: 'London'
    }, {
      color: "#CDC0DC",
      data: seriesData[1],
      name: 'Tokyo'
    }
  ]
} );

graph.render();

var hoverDetail = new Rickshaw.Graph.HoverDetail( {
  graph: graph,
  formatter: function(series, x, y) {
    var date = '<span class="date">' + new Date(x * 1000).toUTCString() + '</span>';
    var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
    var content = swatch + series.name + ": " + parseInt(y) + '<br>' + date;
    return content;
  }
} );
</script>