<div class="panel panel-default" ng-show="vm.message">
    <div class="kode-alert alert5 bloc">
        {{vm.message}}
    </div>
</div>
<div class="col-xs-12">

    <div class="addnbt panel-body">
        <div class="margin-b-10">
            <button class="btn-default add-quo-bk add-icon add-lead-button" ng-click="vm.addNewQuotations(quotations.Id, $event);"><i class="fa fa-plus"></i> </button>
            <button class="btn-rounded color22 search_icon" ng-click="startSearch();changeWithOutSubTabs('search')"><i class="fa fa-search"></i></button>
            <!--<button class="round-bt-search"><i class="fa fa-search"></i></button>-->
        </div>
    </div>


    <div class="show-grid">

        <div class="col-md-12 col-xs-12 show-grid-leads ng-scope" ng-repeat="quotations in vm.Quotations" ng-click="vm.showquotationsdetail(quotations.Id, $event)">
            <div class="details">
                <div class="padding-10">
                    <div class="row">                       
                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                            <div class="card-company-name">Company Name</div>
                            <div>12,Aug 2016 </div>
                        </div>
                        <!--<div class="col-lg-1 col-sm-1 col-md-1 col-xs-1">
                            <button class="btn-default add-quo-bk add-icon add-lead-button color21 fd-call-bt" ng-click="vm.call();"><i class="fa fa-phone"></i></button>
                        </div>-->
                    </div>

                    <div class="clear-fix"></div>
                    <ul class="basic-new-list basic-list">
                        <li class="margin-l-15 margin-r-15">{{quotations.CreationDate}} </li>
                        <li class="margin-l-15 margin-r-15 text-right">{{quotations.Name}} </li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="margin-l-15 margin-r-15">{{quotations.TotalPrice}} </li>
                        <li class="margin-l-15 margin-r-15 text-right">{{quotations.SalesStage}}</li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="margin-l-15 margin-r-15">{{quotations.Email}} </li>
                        <li class="margin-l-15 margin-r-15 text-right">{{quotations.Phone}} </li>
                        <li style="clear:both; width:100%; padding:0px;"></li>
                        <li class="fullwid margin-l-15 margin-r-15 text-center">{{quotations.Description}}</li>

                        <!-- <li class="margin-l-15 margin-r-15">{{quotations.CreationDate}} <span class="right">{{quotations.Name}}</span></li>
                         <li class="margin-l-15 margin-r-15">{{quotations.TotalPrice}} <span class="right">{{quotations.SalesStage}}</span></li>
                         <li class="margin-l-15 margin-r-15">{{quotations.Phone}}  <span class="right"><button ng-click="call();" class="margin-l-10 card-call"><i class="fa fa-phone"></i></button></span></li>-->
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>

