<div>
    <div class="new-st-body panel-body">
	<div class="nevo-search" ng-show="searchVisible"> 
        <a class="btn-rounded color22" ng-click="hideSearch()" href=""><i class="fa fa-close"></i></a>    
        <nit-advanced-searchbox ng-model="searchParams" parameters="availableSearchParams" placeholder="Search..."></nit-advanced-searchbox>
        <div style="clear:both;"></div>
	</div>

        <div class="ta-cre" role="tabpanel">
            <div class="higherman" ng-show="activeTab =='quotationsDetail' || activeTab =='quotationsRelated'">
                <!-- Nav tabs -->
                <ul class="nav col-md-offset-5 nav-tabs nav-line margin-10" role="tablist">
                    <li role="presentation" ng-show="activeTab =='quotationsDetail' || activeTab =='quotationsRelated'" ng-class="{ 'active': activeTab=='quotationsFeed' }"><a ng-click="activeTab ='quotationsFeed'" href="javascript:void(0);" ng-class="{ 'active': activeTab=='quotationsFeed' }" aria-controls="quotationsFeed" role="tab" data-toggle="tab" aria-expanded="false">Feed</a></li>
                    <li role="presentation" ng-show="activeTab =='quotationsDetail' || activeTab =='quotationsRelated'" ng-class="{ 'active': activeTab=='quotationsDetail' }"><a ng-click="activeTab ='quotationsDetail'" href="javascript:void(0);" ng-class="{ 'active': activeTab=='quotationsFeed' }" role="tab" data-toggle="tab" aria-expanded="true">Detail</a></li>
                    <li role="presentation" ng-show="activeTab =='quotationsDetail' || activeTab =='quotationsRelated'" ng-class="{ 'active': activeTab=='quotationsRelated' }"><a ng-click="activeTab ='quotationsRelated'" href="javascript:void(0);" ng-class="{ 'active': activeTab=='quotationsFeed' }" aria-controls="quotationsRelated" role="tab" data-toggle="tab" class="" aria-expanded="false">Related</a></li>
                </ul>
            </div>
                <!-- Tab panes -->
                <div class="tab-content padding-0">

                    <div role="tabpanel" ng-class="{ 'active': activeTab=='quotationsFeed' }" class="tab-pane" id="quotationsFeed">

                        <div ng-include="'/ClientCustomization/quotations/quotation_feed.html'"></div>
                    </div>
                    <div role="tabpanel" ng-class="{ 'active': activeTab=='quotationsDetail' }" class="tab-pane" id="quotationsDetail">
                        <div ng-include="'../quotations/quotation_details.html'" class="quotationdetail"></div>
                    </div>
                    <div role="tabpanel" ng-class="{ 'active': activeTab=='quotationsRelated' }" class="tab-pane" id="quotationsRelated">
                        <related-control></related-control>
                        <div class="row">
                            <div class="col-md-1 color0-bg text-c padding-15 margin-15">
                                <span style="color:#fff"> #3d464d</span>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff"> #37363e</span>
                            </div>
                            <div class="col-md-1 color2-bg text-c padding-15 margin-15">
                                <span style="color:#fff"> #58666e</span>
                            </div>
                            <div class="col-md-1 color3-bg text-c padding-15 margin-15">
                                <span style="color:#fff"> #e4e4e4</span>
                            </div>
                            <div class="col-md-1 color4-bg text-c padding-15 margin-15">
                                <span style="color:#fff"> #f5f5f5</span>
                            </div>
                            <div class="col-md-1 color5-bg text-c padding-15 margin-15">
                                <span style="color:#fff"> #399bff</span>
                            </div>
                            <div class="col-md-1 color6-bg text-c padding-15 margin-15">
                                <span style="color:#fff"> #33577b</span>
                            </div>
                            <div class="col-md-1 color7-bg text-c padding-15 margin-15">
                                <span style="color:#fff"> #26a65b</span>
                            </div>
                            <div class="col-md-1 color8-bg text-c padding-15 margin-15">
                                <span style="color:#fff"> #51b7a3</span>
                            </div>
                            <div class="col-md-1 color9-bg text-c padding-15 margin-15">
                                <span style="color:#fff"> #f39c12</span>
                            </div>
                            <div class="col-md-1 color10-bg text-c padding-15 margin-15">
                                <span style="color:#fff"> #ef4836</span>
                            </div>
                            <div class="col-md-1 color11-bg text-c padding-15 margin-15">
                                <span style="color:#fff"> #9a80b9</span>
                            </div>
                            <div class="col-md-1 color12-bg text-c padding-15 margin-15">
                                <span style="color:#fff"> #a2ded0</span>
                            </div>
                            <div class="col-md-1 color13-bg text-c padding-15 margin-15">
                                <span style="color:#fff"> #d2527f</span>
                            </div>
                            <div class="col-md-1 color14-bg text-c padding-15 margin-15">
                                <span style="color:#fff"> #c78568</span>
                            </div>
                            <div class="col-md-1 color15-bg text-c padding-15 margin-15">
                                <span style="color:#fff"> #e99844</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-home"></i> </span>
                                <div style="color:#fff;">Home</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-calendar-o"></i> </span>
                                <div style="color:#fff;">Calendar</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-flask"></i> </span>
                                <div style="color:#fff;">Deals</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-th"></i> </span>
                                <div style="color:#fff;">Accounts</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-check-square-o"></i> </span>
                                <div style="color:#fff;">Contacts</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-list-ul"></i> </span>
                                <div style="color:#fff;">Campaigns</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-bar-chart"></i> </span>
                                <div style="color:#fff;">Dashboard</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-area-chart"></i> </span>
                                <div style="color:#fff;">Reports</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-bullseye"></i> </span>
                                <div style="color:#fff;">Insights</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-cog"></i> </span>
                                <div style="color:#fff;">Config</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-newspaper-o"></i> </span>
                                <div style="color:#fff;">Activity</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-clipboard"></i> </span>
                                <div style="color:#fff;">Notes</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa fa-upload"></i> </span>
                                <div style="color:#fff;">Uploads</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-calendar-o"></i> </span>
                                <div style="color:#fff;">Events</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-share-square-o"></i> </span>
                                <div style="color:#fff;">Replies</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-plus-circle"></i> </span>
                                <div style="color:#fff;">Add</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-trash"></i> </span>
                                <div style="color:#fff;">Delete</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-file-text"></i> </span>
                                <div style="color:#fff;">Edit</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-phone"></i> </span>
                                <div style="color:#fff;">Call</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-envelope"></i> </span>
                                <div style="color:#fff;">Email</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-bookmark"></i> </span>
                                <div style="color:#fff;">Tags</div>
                            </div>
                            <div class="col-md-1 color1-bg text-c padding-15 margin-15">
                                <span style="color:#fff;font-size: 45px;"> <i class="fa fa-binoculars"></i> </span>
                                <div style="color:#fff;">View</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
