<div class="row headbuttons">
	<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<a href="" class="active">Feed</a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<a href="">Details</a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<a href="">Related</a>
			</div>
		</div>
	</div>
</div>