﻿<div class="custom-wrapper">
            <div class="text-center">
                <button class="btn btn-link" ng-click="add();vm.addl($event)" ng-show="vm.showadd">Add</button>
                <button class="btn btn-link" ng-click="save();vm.savel($event)" ng-show="vm.showsave">Save</button>
                <button class="btn btn-link" ng-click="edit();vm.editl($event)" ng-show="vm.showedit">Edit</button>
                <button class="btn btn-link" ng-click="delete();vm.deletel($event)" ng-show="vm.showdelete">Delete</button>
                <button class="btn btn-link" ng-click="back();vm.backl($event)" ng-show="vm.showback">Back</button>
                <button class="btn btn-link" ng-click="cancel();vm.cancell($event)" ng-show="vm.showcancel">Cancel</button>
            </div>
</div>

