<a href="#">
    <div class="row custom-content">
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3  col-xs-12">
            <div class="row feedheading">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">Account</div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                    Creation Date Of Account
                </div>
                <div class="col-lg-6  col-md-8 col-sm-8 col-xs-7">
                    07/04/16
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                    Company Name
                </div>
                <div class="col-lg-6  col-md-8 col-sm-8 col-xs-7">
                    Sample Company 1
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                    Total Sold
                </div>
                <div class="col-lg-6  col-md-8 col-sm-8 col-xs-7">
                    19
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                    Total
                </div>
                <div class="col-lg-6  col-md-8 col-sm-8 col-xs-7">
                    |
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                    Total Canceled
                </div>
                <div class="col-lg-6  col-md-8 col-sm-8 col-xs-7">
                    2
                </div>
            </div>
        </div>
    </div>
</a>