﻿    <div class="custom-wrapper">
        <div class="container-fluid">



            <div class="row custom-content">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <span>Name</span>
                </div>
                <div class="col-lg-6  col-md-6 col-sm-6 col-xs-12">
                    <p>Mr. Nick Pierce</p>
                </div>
            </div>

            <div class="row custom-content">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <span>Contact Owner</span>
                </div>
                <div class="col-lg-6  col-md-6 col-sm-6 col-xs-12">
                    <p><a href="">Steve Malone</a></p>
                </div>
            </div>

            <div class="row custom-content">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <span>Title</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>SVP Technology</p>
                </div>
            </div>

            <div class="row custom-content">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <span>Email</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p><a href="">nickpiercecampground@gmail.com</a></p>
                </div>
            </div>

            <div class="row custom-content">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <span>Account Name</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p><a href="">United Auto Solutions</a></p>
                </div>
            </div>

        </div>
    </div>