﻿@{
    ViewBag.Title = "ContactManager";
}
    <script src="Scripts/jquery-2.1.4.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
  
    <script type="text/javascript">

        var module = angular.module('app', []);

        module.service('ContactService', function ($http, $q) {

            this.save = function (contact) {

                var jsonParse = JSON.parse(JSON.stringify(contact));  

                var config = { headers: { 'Content-Type': 'application/json; charset=UTF-8', 'accept': 'application/json' } }               

                var def = $q.defer();

                $http.post("/api/Contacts/",  jsonParse , config)
                    .success(function(data) {
                        //def.resolve(data);
                        alert(data);
                    })
                    .error(function() {
                        def.reject("Failed to get token");
                    });

                return def.promise;

            }

            this.delete = function (id) {

                var jsonParse = JSON.parse(JSON.stringify(id));

                var config = { headers: { 'Content-Type': 'application/json; charset=UTF-8', 'accept': 'application/json' } }

                var def = $q.defer();

                $http.delete("/api/Contacts/", jsonParse, config)
                    .success(function (data) {
                        //def.resolve(data);
                        alert(data);
                    })
                    .error(function () {
                        def.reject("Failed to get token");
                    });

                return def.promise;

            }

            this.get = function ()
            {
                return $http.get('/api/Contacts/');
            }

        });

        module.controller('ContactController', function (ContactService) {
           
            var vm = this;
           
             vm.contact = {
                id: 0,
                name: '',
                email: '',
                phone: ''
            };

            // Init contacts
            ContactService.get()
             .then(
              function (response)
              {
                    vm.contacts = JSON.parse(response.data);
              });

            vm.save = function ()
            {
                 
                ContactService.save(vm.contact)
                .then(function (response)
                 {
                     alert(response.data);
                }, function (error) {
                    alert(error.error);
                });
                 
                ContactService.get()
                 .then(
                    function (response) {
                        vm.contacts = JSON.parse(response.data);
                    });
            }

            vm.delete = function () {

                ContactService.delete(contact.id);
 
            }

            vm.edit = function (id) {
                vm.newcontact = angular.copy(ContactService.get(id));
            }
        })

    </script>
 
    <div id="body" style="margin: 0 10px 0 10px;">

        <div ng-app="app" ng-controller="ContactController as vm">

            <form>
                <label>Name</label>
                <input type="text" name="name" ng-model="vm.contact.name" />
                <label>Email</label>
                <input type="text" name="email" ng-model="vm.contact.email" />
                <label>Phone</label>
                <input type="text" name="phone" ng-model="vm.contact.phone" />
                <br />
                <input type="hidden" ng-model="vm.id" />
                <input type="button" value="Save" ng-click="vm.save()" />

            </form>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in vm.contacts">
                        <td>{{ contact.id }}</td>
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.phone }}</td>
                        <td>
                            <a href="" ng-click="vm.edit(contact.id)">edit</a> |
                            <a href="" ng-click="vm.delete(contact.id)">delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

