﻿@{
    ViewBag.Title = "ContactManager2";
}
    <script src="Scripts/jquery-2.1.4.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
  
    <script type="text/javascript">

        var module = angular.module('app', []);

        module.service('ContactService',function ($http, $q) {
            // to create unique contact id
            // var uid = 1;

            //contacts array to hold list of all contacts
            //var contacts = [{
            //    id: 0,
            //    'name': 'Viral',
            //    'email': 'hello@gmail.com',
            //    'phone': '123-2343-44'
            //}];

            //simply returns the contacts list
            this.list = function ()
            {
                //return contacts;
                return $http.get('/api/Contacts/');              
            }

            this.save = function (contact) {

                var jsonParse = JSON.parse(JSON.stringify(contact));

                var config = { headers: { 'Content-Type': 'application/json; charset=UTF-8', 'accept': 'application/json' } }
                
                $http.post("/api/Contacts/", jsonParse, config)
                 .success(function (data) {
                        //
                 })
                 .error(function () {
                    alert("The request failed with response " + response + " and status code " + status);
                 });

            }

            //simply search contacts list for given id
            //and returns the contact object if found
            this.get = function (id) {
                //for (i in contacts) {
                //    if (contacts[i].id == id) {
                //        return contacts[i];
                //    }
                //}
                return $http.get('/api/Contacts/' + id);

            }

            //iterate through contacts list and delete 
            //contact if found
            this.delete = function (id) {
              
                var url = "/api/Contacts/" + id;
                $http.delete(url)
                    .success(function (result)
                    {
                        alert(result);
                        return $http.get('/api/Contacts/');
                    })
                    .error(function ()
                    {
                        alert("The request failed with response " + response + " and status code " + status);
                    })
                    .then(function ()
                    {
                        //$window.location = "#/";
                    });

        
            }

         
        });

        module.controller('ContactController', function ($scope, ContactService) {

            //$scope.contacts = ContactService.list();
            // Init contacts
            ContactService.list().
                success(function (data)
                {
                    $scope.contacts = JSON.parse(data);
                }).
                error(function(response, status) {
                    alert("The request failed with response " + response + " and status code " + status);
                });

            $scope.saveContact = function ()
            {
                ContactService.save($scope.newcontact);
             
                ContactService.list().
                success(function (data) {
                    $scope.contacts = JSON.parse(data);
                }).
                error(function (response, status) {
                   alert("The request failed with response " + response + " and status code " + status);
                });

                $scope.newcontact = {};

                location.reload();
            }

            $scope.delete = function (id) {

                ContactService.delete(id);
                location.reload();
               
               // if ($scope.newcontact.id == id) $scope.newcontact = {};
            }

            $scope.edit = function (id) {
                ContactService.get(id).
                success(function (data)
                {
                        var json = JSON.parse(data);
                        $scope.newcontact = angular.copy(json);
                }).
                error(function (response, status)
                {
                    alert("The request failed with response " + response + " and status code " + status);
                });
                
            }
        })

    </script>

    <div id="body" style="margin: 0 10px 0 10px;">
        
        <div ng-app="app" ng-controller="ContactController">
            <form>
                <input type="text" name="name" ng-model="newcontact.id" style="display:none;" />
                <label>Name</label>
                <input type="text" name="name" ng-model="newcontact.name" />
                <label>Email</label>
                <input type="text" name="email" ng-model="newcontact.email" />
                <label>Phone</label>
                <input type="text" name="phone" ng-model="newcontact.phone" />
                <br />
                <input type="hidden" ng-model="newcontact.id" />
                <input type="button" value="Save" ng-click="saveContact()" />
            </form>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in contacts">
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.phone }}</td>
                        <td>
                            <a href="" ng-click="edit(contact.id)">edit</a> |
                            <a href="" ng-click="delete(contact.id)">delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>