﻿<div ng-controller="dashboardController">
    <div class="panel-body">

        <!-- Start First Row -->
        <div class="col-sm-6">
            <div class="panel panel-widget">
                <div class="panel-title">
                    TODAY ACTIVITY <span class="label label-success">9</span>
                    <div class="panel-tools">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Day</button>
                            <button type="button" class="btn btn-primary">Week</button>
                            <button type="button" class="btn btn-primary">Month</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <nvd3 options="options" data="data"></nvd3>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-widget">
                <div class="panel-title">
                    LEADS COUNT 
                     <div class="panel-tools">
                         <div class="btn-group">
                             <button type="button" class="btn btn-primary">Day</button>
                             <button type="button" class="btn btn-primary">Week</button>
                             <button type="button" class="btn btn-primary">Month</button>
                         </div>
                     </div>
                </div>
                <div class="panel-body">
                    <nvd3 options="multilineoptions" data="multilinedata"></nvd3>
                </div>
            </div>
        </div>
        <!-- Start First Row -->

        <!-- Start Second Row -->
        <div class="col-sm-6">
            <div class="panel panel-widget">
                <div class="panel-title">
                    Activity Counts
                </div>
                <div class="panel-body">
                    <nvd3 options="ActivityCountOption" data="ActivityCountData"></nvd3>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-widget">
                <div class="panel-title">
                    Campaign Status
                    <div class="panel-tools">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Day</button>
                            <button type="button" class="btn btn-primary">Week</button>
                            <button type="button" class="btn btn-primary">Month</button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="funnel-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- End Second Row -->

        <!-- Start Third Row -->
        
        <div class="col-sm-6">
            <div class="panel panel-widget">
                <div class="panel-title">
                    TOP SALES (30 DAY VIEW) <span class="label label-info">05</span>
                </div>
                <div class="panel-search">
                    <form>
                        <input type="text" class="form-control" placeholder="Search...">
                        <i class="fa fa-search icon"></i>
                    </form>
                </div>

                <div class="panel-body table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Michael De Marco</td>
                                <td><span class="label label-default">$20,000.00</span></td>
                            </tr>
                            <tr>
                                <td>Michael De Marco</td>
                                <td><span class="label label-default">$25,000.00</span></td>
                            </tr>
                            <tr>
                                <td>Michael De Marco</td>
                                <td><span class="label label-default">$3,000.00</span></td>
                            </tr>
                            <tr>
                                <td>Michael De Marco</td>
                                <td><span class="label label-default">$10,000.00</span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-widget">
                <div class="panel-title">
                    ACTIVITY VOLUME 0.00 (7 DAY VIEW) <span class="label label-info">62</span>
                </div>
                <div class="panel-search">
                    <form>
                        <input type="text" class="form-control" placeholder="Search...">
                        <i class="fa fa-search icon"></i>
                    </form>
                </div>

                <div class="panel-body table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Michael De Marco</td>
                                <td><span class="label label-default">$20,000.00</span></td>
                            </tr>
                            <tr>
                                <td>Michael De Marco</td>
                                <td><span class="label label-default">$25,000.00</span></td>
                            </tr>
                            <tr>
                                <td>Michael De Marco</td>
                                <td><span class="label label-default">$3,000.00</span></td>
                            </tr>
                            <tr>
                                <td>Michael De Marco</td>
                                <td><span class="label label-default">$10,000.00</span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End Third Row -->

        <!-- Start Fifth Row -->
        <div class="col-sm-6">
            <div class="panel panel-widget">
                <div class="panel-title">
                    Overall performance <span class="label label-info">05</span>
                    <!--<nvd3 options="optionsPiChart" data="dataPieCharts"></nvd3>-->
                    <div class="clearfix"></div>
                    <div class="col-sm-4 top-margine-30">
                        <h6 class="text-font"><span>Days versus </span><span>yesterday </span></h6>
                        <div class="overallPerfomance1" data-percent="65"></div>
                    </div>
                    <div class="col-sm-4 top-margine-30">
                        <h6 class="text-font"><span>Weeks versus </span><span>previous weeks </span></h6>
                        <div class="overallPerfomance2" data-percent="75"></div>
                    </div>
                    <div class="col-sm-4 top-margine-30">
                        <h6 class="text-font"><span>Month versus </span><span>previous months </span></h6>
                        <div class="overallPerfomance3" data-percent="85"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-widget">
                <div class="panel-title">
                    Sales Team
                    <!--<span class="label label-info">05</span>-->
                    <nvd3 options="optionsSalesChart" data="dataSalesChart"></nvd3>
                </div>
            </div>
        </div>
        <!-- End Fifth Row -->
       
    </div>
</div>

<script src="../app/js/jquery.circlechart.js"></script>
<script src="../app/js/jquery.funnel.js"></script>
 

<script type="text/javascript">

    $('.overallPerfomance1').percentcircle({

        animate: true,
        diameter: 100,
        guage: 2,
        coverBg: '#fff',
        bgColor: '#efefef',
        fillColor: '#00ff00',
        percentSize: '15px',
        percentWeight: 'normal'

    });

    $('.overallPerfomance2').percentcircle({

        animate: true,
        diameter: 200,
        guage: 2,
        coverBg: '#fff',
        bgColor: '#efefef',
        fillColor: '#5c93c8',
        percentSize: '15px',
        percentWeight: 'normal'

    });

    $('.overallPerfomance3').percentcircle({

        animate: true,
        diameter: 100,
        guage: 2,
        coverBg: '#fff',
        bgColor: '#efefef',
        fillColor: '#FFA500',
        percentSize: '15px',
        percentWeight: 'normal'

    });

    var funnelData = [
    {
        value: 5000,
        color: "#ED5565"
    },
    {
        value: 4000,
        color: "#FC6D58"
    },
    {
        value: 3000,
        color: "#46CFB0"
    }
    ];

    $('#funnel-container').drawFunnel(funnelData, {
        width: 400,
        height: 400,
        padding: 1,
        half: false,
        minSegmentSize: 0,
        label: function () { return "Label!"; }
    });

</script>
