﻿<div class="custom-wrapper">
    <div class="container-fluid">
        <div class="row top-buttons">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12"></div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <a href="">Leads</a>
                <a href="">Accounts</a>
                <a href="">Contacts</a>
                <a href="">Campaigns</a>
                <a href="">Quotations</a>
                <a href="#" ng-click="vm.showleaddetail($event)">Back</a>
            </div>
        </div>
    </div>
</div>
