﻿<!----> 
<div>

    <div style="height:400px; overflow:scroll; border:1px; border-color:ghostwhite;">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtId">Id:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="txtId" placeholder="" readonly="readonly" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtDescription">Description:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtDescription" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtTitle">Title:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtTitle" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtSalesman">Salesman:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtSalesman" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtCreateDate">Create Date:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtCreateDate" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="Uploads">Uploads:</label>
                <div class="col-sm-10">

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtAccount">Account:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtAccount" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtFrom">From:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtFrom" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtTo">To:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtTo" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtAccountId">AccountId:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="txtAccountId" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtFromId">Form Id:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="txtFromId" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" id="chkRead">Read</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtSubject">Subject:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtSubject" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtStatus">Status:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtStatus" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtSaleman">Saleman:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtSaleman" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtContactPhone">Contact Phone:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtContactPhone" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtPONum">PONum:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtPONum" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtAmount">Amount:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="txtAmount" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtSalesStageId">Sales Stage Id:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="txtSalesStageId" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtSalesStage">Sales Stage:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtSalesStage" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtTopics">Topics:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtTopics" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" id="chkUnRead">UnRead</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtLeadSourceId">Lead Source Id:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="txtLeadSourceId" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtLeadSource">Lead Source:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtLeadSource" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtSalesManId">Sales Man Id:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="txtSalesManId" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtInvoiceNum">Invoice Number:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtInvoiceNum" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtInvoiceDate">Invoice Number:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtInvoiceDate" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtLostDate">Lost Date:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtLostDate" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtPotentialRevenue">Potential Revenue:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtPotentialRevenue" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtReferredById">Referred By Id:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtReferredById" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtUnits">Units:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="txtUnits" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtUnitType">Unit Type:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="txtUnitType" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtTemplateId">Template Id:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="txtTemplateId" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="txtHotLead">HotLead:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="txtHotLead" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" id="chkHotLead">Hot Lead</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" id="chkInActive">InActive</label>
                    </div>
                </div>
            </div>



        </form>
    </div>

</div>