﻿ 
    <div id="body" ng-app="app">

        <div id="divlogin" ng-controller="LoginController as vm">

            <a href="" ng-click="vm.login('michael_de_marco@hotmail.com','jesus','33293')">Login</a>

        </div>

        <hr />

        <div ng-controller="LeadsController as vm">

            <div id="divleads" ng-show="vm.ShowLeadGrid">

                <p><a href="" ng-click="vm.getall()">Get Leads</a></p>
                <p>
                    <span id="message" style="color:red;">{{vm.message}}</span>
                </p>

                <table ng-show="vm.ShowLeadGrid">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Description</th>
                            <th>Title</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="text" ng-model="vm.editlead.Description" /></td>
                            <td><input type="text" ng-model="vm.editlead.Title" /></td>
                            <td><a href="" ng-click="vm.insert(vm.editlead)">Add new</a></td>
                        </tr>

                        <tr>
                            <td colspan="4"><hr /></td>
                        </tr>
                    </thead>

                    <tbody>

                        <tr ng-repeat="lead in vm.Leads">
                            <td>{{lead.Id}}</td>
                            <td><input type="text" ng-model="lead.Description" /></td>
                            <td><input type="text" ng-model="lead.Title" /></td>
                            <td>
                                <a href="" ng-click="vm.delete(lead.Id)">Delete</a> |
                                <a href="" ng-click="vm.update(lead)">Update</a> |
                                <a href="" ng-click="vm.showleaddetail(lead)">Show lead detail</a>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
       
            <div ng-show="vm.ShowLeadDetail">
                <div ng-include="'/Client/Views/leaddetail.htm'"></div>
            </div>

        </div>

    </div>
 