﻿<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                Copyright © 2015 <a href="#" target="_blank">TrackerGo CRM</a> All rights reserved.
            </div>
            <div class="col-lg-6 col-md-6">
                Design and Developed by <a href="#" target="_blank">TrackerGo CRM</a>
            </div>
        </div>
    </div>

</div>

