﻿<div ng-controller="SidebarController">
    <div id="top" class="clearfix">
        <div class="applogo">
            <a href="/" class="logo"><img src="img/logotrackergowhite.png" alt="logo" /></a>
        </div>
        <a ng-click="flipshowMenu()" class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
        <ul class="top-right">
            <li class="dropdown link">
                <a href="#login" class="hdbutton">...</a>
            </li>
        </ul>
    </div>
    <div class="sidebar sidebar-colorful clearfix" ng-class="{'sidebar-block' : showMenu}">
        <ul class="sidebar-panel nav">
            <li class="leftmenu1"><a href="#home" ng-click="flipshowMenu('Home')" ng-class="{homemenubk: homemenubk}"><span class="icon color2 home-icon"><i class="fa fa-home"></i></span>Home</a></li>
            <li class="leftmenu2"><a href="#calendar" ng-click="flipshowMenu('Calendar')" ng-class="{calendarmenubk: calendarmenubk}"><span class="icon color3 calendar-icon"><i class="fa fa-calendar-o"></i></span>Calendar</a></li>
            <li class="leftmenu3"><a href="#leads" ng-click="flipshowMenu('Leads')" ng-class="{leadsmenubk: leadsmenubk}"><span class="icon color7 deals-icon"><i class="fa fa-flask"></i></span>Deals</a></li>
            <li class="leftmenu4"><a href="#accounts" ng-click="flipshowMenu('Accounts')" ng-class="{accountsmenubk:  accountsmenubk}"><span class="icon color9 account-icon"><i class="fa fa-th"></i></span>Accounts</a></li>
            <li class="leftmenu5"><a href="#contacts" ng-click="flipshowMenu('Contacts')" ng-class="{contactsmenubk: contactsmenubk}"><span class="icon color6 contact-icon"><i class="fa fa-check-square-o"></i></span>Contacts</a></li>
            <li class="leftmenu6"><a href="#dashboard" ng-click="flipshowMenu('Dashboard')" ng-class="{dashboardmenubk: dashboardmenubk}"><span class="icon color1 dashboard-icon"><i class="fa fa-bar-chart"></i></span>Dashboard</a></li>
            <li class="leftmenu8"><a href="#products" ng-click="flipshowMenu('Products')" ng-class="{productsmenubk: productsmenubk}"><span class="icon colorpro prod-icon"><i class="fa fa-tag"></i></span>Product</a></li>
            <li class="leftmenu9"><a href="#pricebooks" ng-click="flipshowMenu('Price')" ng-class="{pricemenubk: pricemenubk}"><span class="icon colorpri pri-icon"><i class="fa fa-book"></i></span>PriceBook</a></li>
            <li class="leftmenu11"><a href="#quotations" ng-click="flipshowMenu('Quotations')" ng-class="{quotationsmenubk: quotationsmenubk}"><span class="icon colorquo quo-icon"><i class="fa fa-quote-left"></i></span>Quotations</a></li>
            <li class="leftmenu12"><a href="#forecasting" ng-click="flipshowMenu('Forecasting')" ng-class="{forecastingmenubk: forecastingmenubk}"><span class="icon colorfor for-icon"><i class="fa fa-line-chart"></i></span>Forecasting</a></li>
            <li class="leftmenu7"><a href="#config" ng-click="flipshowMenu('Config')" ng-class="{configmenubk: configmenubk}"><span class="icon color5 config-icon"><i class="fa fa-cog"></i></span>Config</a></li>
            <!--<li><a href="#login" ng-click="flipshowMenu()"><span class="icon color2 config-icon"><i class="fa fa-sign-out"></i></span>Logout</a></li>-->
        </ul>
    </div>

</div>