﻿<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="" />
  <title>Tracker Go</title>

  <script src="/Scripts/jquery-2.1.4.min.js"></script>
  <script src="/Scripts/angular.min.js"></script>
  <script src="/Scripts/angular-route.min.js"></script>
  <script src="../app/js/angular-cookies.js"></script>
  <script src="../app/js/moment.js"></script>
  <script src="../app/js/angular-moment.min.js"></script>
  <script src="/ClientCustomization/app/app.js"></script>
  <!-- Routes -->
  <script src="/ClientCustomization/app/Routes/route.js"></script>
  <!-- Angular dependencies-->
  <script src="/ClientCustomization/app/directives/contact/contactController.js"></script>
  <script src="/ClientCustomization/app/directives/contact/contactDirective.js"></script>
  <script src="/ClientCustomization/app/directives/crud/crudController.js"></script>
  <script src="/ClientCustomization/app/directives/crud/crudDirective.js"></script>
  <script src="/ClientCustomization/app/directives/relatedcontrol/relatedController.js"></script>
  <script src="/ClientCustomization/app/directives/relatedcontrol/relatedDirective.js"></script>
  <script src="/ClientCustomization/leads/leadController.js"></script>
  <script src="/ClientCustomization/accounts/accountsController.js"></script>
  <script src="/ClientCustomization/contacts/contactsController.js"></script>
  <script src="/ClientCustomization/forecastings/forecastingController.js"></script>
  <script src="/ClientCustomization/products/productController.js"></script> 
<script src="/ClientCustomization/pricebooks/pricebookController.js"></script>
<script src="/ClientCustomization/quotations/quotationController.js"></script>  
  <script src="/ClientCustomization/app/directives/tripleswitch/tripleswitchController.js"></script>
  <script src="/ClientCustomization/app/directives/tripleswitch/tripleswitchDirective.js"></script>
  <script src="/ClientCustomization/dashboard/dashboardController.js"></script> 
  <script src="/ClientCustomization/calendar/calendarController.js"></script>
  <script src="/ClientCustomization/master_page/sidebarController.js"></script> 
        
  <script src="/ClientCustomization/login/loginController.js"></script>
  <script src="/ClientCustomization/app/services/leadsservice.js"></script>
  <script src="/ClientCustomization/app/services/accountsservice.js"></script>
      <script src="/ClientCustomization/app/services/calenderservice.js"></script>
      <script src="/ClientCustomization/app/services/contactsservice.js"></script>
      <script src="/ClientCustomization/app/services/productsservice.js"></script>
      <script src="/ClientCustomization/app/services/pricebooksservice.js"></script>
      <script src="/ClientCustomization/app/services/quotationsservice.js"></script>
      <script src="/ClientCustomization/app/services/forecastingsservice.js"></script>
    <script src="/ClientCustomization/app/services/flash.service.js"></script>
    <script src="/ClientCustomization/app/services/authentication.service.js"></script>
    <script src="/ClientCustomization/app/services/user.service.local-storage.js"></script>
      <script src="/ClientCustomization/app/services/crudservice.js"></script>

  <!-- ========== Css Files ========== -->
    <link href="css/root.css" rel="stylesheet">
  </head>
  <body ng-app="app" ng-init="$root.showHeaderFooter=true">

      <div class="loading"><img src="img/loading.gif" alt="loading-img"></div>
      <div class="container">
          <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" class="toaster" ng-if="flash" ng-bind="flash.message"></div>
      </div>
      
      <div ng-if="showHeaderFooter" ng-include="'/ClientCustomization/master_page/header.html'"></div>


      <!--<div ng-class="{'content':showHeaderFooter}">
          <div ng-view></div>
      </div>

      
      <div ng-if="showHeaderFooter" ng-include="'/ClientCustomization/master_page/footer.html'"></div>-->




      <!-- START CONTENT -->
      <div class="content">
          <div class="page-header">
              <h1 class="title">{{dashboardTitle}}</h1>
              <ol class="breadcrumb">
                  <li class="active">{{dashboardMsg}}</li>
              </ol>
          </div>
          <div class="container-widget">
              <div ng-view></div>
          </div>
          <div class="row footer">
              <div class="col-md-6 text-center col-xs-12">
                  Copyright © 2015 <a href="#" target="_blank">TrackerGo CRM</a> All rights reserved.
              </div>
              <div class="col-md-6 text-center col-xs-12">
                  Design and Developed by <a href="#" target="_blank">TrackerGo CRM</a>
              </div>
          </div>

      </div>
      

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/bootstrap-select/bootstrap-select.js"></script>
    <script type="text/javascript" src="js/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-wysihtml5/wysihtml5-0.3.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
    <script type="text/javascript" src="js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/moment/moment.min.js"></script>
    <script type="text/javascript" src="js/date-range-picker/daterangepicker.js"></script>
    <script src="../searchBox/angular-advanced-searchbox.js"></script>
    <link href="../searchBox/angular-advanced-searchbox.css" rel="stylesheet" />
    <link href="../app/css/angular-datepicker.css" rel="stylesheet" />
    <script src="../app/js/ng-file-upload.js"></script>
    <script src="../app/js/ng-file-upload-shim.js"></script>
    <script src="../app/js/Config.js"></script>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.min.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.min.js"></script>
      <script src="https://rawgit.com/krispo/angular-nvd3/v1.0.7/dist/angular-nvd3.js"></script>
      <script src="https://720kb.github.io/angular-datepicker/assets/ext/src/js/angular-datepicker.js"></script>
     

      
</body>
</html>