<form class="searchform">
	<input type="text" class="searchbox" id="searchbox" placeholder="Search">
	<span class="searchbutton"><i class="fa fa-search"></i></span>
	<div class="autosugg">
		Sample tag for autosuggestion
		Sample tag for autosuggestion 2
		Sample tag for autosuggestion 3 
	</div>
</form>