
<div class="advancedSearchBox" ng-class="{active:focus}" ng-init="focus = false" >



    <style>
        .search-parameter.inuse {
            color: #000 !important;
            background-color: #fff !important;
        }
    </style>

    <a ng-href="" ng-show="searchParams.length > 0 || searchQuery.length > 0" ng-click="removeAll()" role="button">
        <span class="remove-all-icon fa fa-trash"></span>
    </a>
    <div style="line-height:none;">
        <div class="search-parameter" ng-repeat="searchParam in searchParams">
            <!--<a ng-href="" ng-click="removeSearchParam($index)" role="button">
                <span class="remove fa fa-trash"></span>
            </a>-->
            <!--<div class="key" data-key="{{searchParam.key}}" ng-click="enterEditMode($event, $index)">{{searchParam.name}}:</div>-->
            <div class="value">
                <!--<span ng-show="!searchParam.editMode" ng-click="enterEditMode($event, $index)">{{searchParam.value}}</span>-->
                <input name="value"
                       ng-if="searchParam.type !='select'"
                       type="{{searchParam.type}}"
                       nit-auto-size-input
                       set-focus-on="{{'searchParam:' + searchParam.key}}"
                       ng-show="searchParam.editMode"
                       ng-change="searchParam.restrictToSuggestedValues !== true ? searchParamValueChanged(searchParam) : null"
                       ng-model="searchParam.value"
                       uib-typeahead="suggestedValue for suggestedValue in searchParam.suggestedValues | filter:$viewValue"
                       typeahead-min-length="0"
                       typeahead-on-select="searchParamTypeaheadOnSelect($item, searchParam)"
                       typeahead-editable="searchParam.restrictToSuggestedValues !== true"
                       typeahead-select-on-exact="true"
                       typeahead-select-on-blur="searchParam.restrictToSuggestedValues !== true ? false : true"
                       placeholder="{{searchParam.placeholder}}" />

                <select ng-if="searchParam.type =='select'" style="height:25px;width:100px;"
                        set-focus-on="{{'searchParam:' + searchParam.key}}"
                        ng-model="searchParam.value"
                        ng-show="searchParam.editMode"
                        placeholder="{{searchParam.placeholder}}">

                    <option ng-repeat="s in searchParam.suggestedValues">{{s}}</option>
                </select>

                <i class="fa fa-times" aria-hidden="true" ng-mousedown="addSearchParam(searchParam)"></i>

            </div>
        </div>
        <!--<div class="search-wrapper">
            <input name="searchbox"
                   class="search-parameter-input"
                   type="text"
                   nit-auto-size-input
                   set-focus-on="searchbox"
                   ng-keydown="keydown($event)"
                   placeholder="{{placeholder}}"
                   ng-focus="focus = true"
                   ng-blur="focus = false"
                   uib-typeahead="parameter as parameter.name for parameter in parameters | filter:isUnsedParameter | filter:{name:$viewValue} | limitTo:parametersDisplayLimit"
                   typeahead-on-select="searchQueryTypeaheadOnSelect($item, $model, $label)"
                   ng-change="searchQueryChanged(searchQuery)"
                   ng-model="searchQuery" />
        </div>-->

    </div>
    <div class="search-parameter-suggestions">
        <span class="search-parameter label-primary" ng-repeat="param in parameters | limitTo:parametersDisplayLimit"
              data-key="{{param.key}}"
              ng-class="{'inuse':!isUnsedParameter(param)}"
              ng-mousedown="addSearchParam(param)">
            {{param.name}} <i ng-class="{'fa fa-plus': param.allowMultiple}"></i>
        </span>
    </div>
    <button type="button" class="btn btn-primary" ng-click="setSearchObject()">Search</button>
</div>

