﻿.advancedSearchBox {
        display: block;
    position: relative;
    margin: 0px 0 10px 0;
       padding: 15px 15px 0px 15px;
    cursor: text;
}

    .advancedSearchBox.active {
        border-color: #66afe9;
    }

    .advancedSearchBox .search-icon {
        float: right;
    padding: 9px 15px 0 10px;
    font-size: 24px;
    color: #ccc;
    }

    .advancedSearchBox .remove-all-icon {
        float: right;
        padding: 10px 0 0 10px;
        cursor: pointer;
    }

    .advancedSearchBox .search-parameter {
            display: inline-block;
            margin: 10px 7px 0 0;
            padding: 1px 9px;
            line-height: 25px;
            cursor: default;
            font-size: 16px;
            border: solid 1px #ccc;
            border-radius: 4px;
        }

        .advancedSearchBox .search-parameter div {
            float: left;
            margin: 0 2px;
        }

        .advancedSearchBox .search-parameter .remove {
            color: #fff;
            margin-left: 5px;
            cursor: pointer;
        }

        .advancedSearchBox .search-parameter .key {
            color: #fff;
        }

        .advancedSearchBox .search-parameter .value span {
            color: #fff;
        }

        .advancedSearchBox .search-parameter .value input {
            height: 24px;
        }

    .advancedSearchBox .search-parameter-input {
        width: auto;
        border: 0;
        margin: 0;
        padding: 0;
        box-shadow:none;
    }

        .advancedSearchBox .search-parameter-input:focus {
            box-shadow: none;
            outline: none;
        }



    .advancedSearchBox .search-parameter-suggestions {
            cursor: auto;
    display: block;
    padding-bottom: 9px;
    padding-left: 2px;
    border-radius: 2px;
    }

        .advancedSearchBox .search-parameter-suggestions .title {
            display: block;
            float: left;
            height: 25px;
            margin: 7px 7px 0 0;
            background-color: transparent;
            color: #888;
            font-weight: bold;
            padding: 0 5px;
            font-size: 14px;
            line-height: 25px;
        }

        .advancedSearchBox .search-parameter-suggestions .search-parameter {
            cursor: pointer;
            background-color: #00171f;
            color: #fff;
        }

        .search-wrapper{
                background: #fff;
    padding: 4px 6px;
    border: solid 1px #ccc;
    border-radius: 3px;
        }
        .search_icon{
            font-size: 24px;
            background: #ce0000;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            color: #fff !important;
            padding: 0px;
            text-align: center;
            cursor: pointer;
            border: solid 3px #ce0000;
    }