﻿<div style="margin-bottom:10px;">
    <div class="panel-body">
        <div class="details" ng-show="vm.showCalendarReadOnly">
            <ul class="basic-list">
                <li>Event Name<span class="right">{{vm.Calendar.Name}}</span></li>
                <li>Start Date<span class="right">{{vm.Calendar.StartDate | date}}</span></li>
                <li>End Date<span class="right">{{vm.Calendar.EndDate | date}}</span></li>
                <li>Subject <span class="right">{{vm.Calendar.Subject}}</span></li>
                <li>Location<span class="right">{{vm.Calendar.Location}}</span></li>
                <li>Description <span class="right">{{vm.Calendar.Description}}</span></li>
                <li>Event Type<span class="right">{{vm.Calendar.EventType}}</span></li>
                <li>Event SubType<span class="right">{{vm.Calendar.EventSubType}}</span></li>
                <li>Recurrence Type<span class="right">{{vm.Calendar.RecurrenceType}}</span></li>
                <li>Recurrence Days<span class="right">{{vm.Calendar.RecurrenceDays}}</span></li>
            </ul>
        </div>
        <div class="form" ng-show="vm.showCalendarEdit">
            <div class="form-group">
                <label for="input1" class="form-label">Name</label>
                <select data-placeholder="Select Recipients" ng-model="vm.newEvent.Name" class="form-control">
                    <option value="Michael De Marco">Michael&nbsp;De Marco</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label">Subject</label>
                <input type="text" ng-model="vm.newEvent.Subject" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">Location</label>
                <input type="text" ng-model="vm.newEvent.Location" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">Event Description</label>
                <textarea class="form-control" ng-model="vm.newEvent.Description"></textarea>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">Select Event</label>
                        <select data-placeholder="Select Event" class="form-control" ng-model="vm.newEvent.EventType">
                            <option value="Goal">Goal</option>
                            <option value="Event">Event</option>
                            <option value="Task">Task</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Select Activity Type</label>
                        <select data-placeholder="Select Event" class="form-control" ng-model="vm.newEvent.ActivityType">
                            <option value="Phone">Phone</option>
                            <option value="Lunch Meeting">Lunch Meeting</option>
                            <option value="Conference">Conference</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">Event Start Date</label>
                        <input type="date" class="form-control" ng-model="vm.newEvent.StartDate">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Event End Date</label>
                        <input type="date" class="form-control" ng-model="vm.newEvent.EndDate">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">Event Start Time</label>
                        <input type="time" ng-model="vm.newEvent.StartTime" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Event End Time</label>
                        <input type="time" ng-model="vm.newEvent.EndTime" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <input id="checkbox101" type="checkbox" ng-model="vm.newEvent.isRecurrence">
                    <label for="checkbox101">
                        Recurrence
                    </label>
                </div>
            </div>
            <div ng-show="vm.newEvent.isRecurrence">
                <div class="form-group">
                    <div class="radio">
                        <input type="radio" name="radio1" id="radio1" value="true" ng-model="vm.newEvent.noEndDate">
                        <label for="radio1">
                            No End Date
                        </label>
                    </div>
                    <div class="radio radio-warning">
                        <input type="radio" name="radio1" ng-model="vm.newEvent.occurences" value="true">
                        <label for="radio2">
                            End After <input type="text" class="form-control" ng-model="vm.newEvent.occurencesCount" /> Occurences
                        </label>
                    </div>
                    <div class="radio radio-danger">
                        <input type="radio" name="radio2" id="radio3" value="true" ng-model="vm.newEvent.endBy">
                        <label for="radio3">
                            End By <input type="date" class="form-control" ng-model="vm.newEvent.endByCount" />
                        </label>
                    </div>

                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Recurs Every</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Recurring Frequency</label>
                            <select data-placeholder="Select Event" class="form-control" ng-model="vm.newEvent.recuringFrequency">
                                <option value="1">Days</option>
                                <option value="2">Weeks</option>
                                <option value="3">Months</option>
                                <option value="4">Years</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" ng-model="vm.newEvent.isMonday" id="Monday" value="Monday" name="Monday">
                        <label for="Monday"> Monday </label>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" ng-model="vm.newEvent.isTuesday" id="Tuesday" value="Tuesday" name="Tuesday">
                        <label for="Tuesday"> Tuesday </label>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" ng-model="vm.newEvent.isWednesday" id="Wednesday" value="Wednesday" name="Wednesday">
                        <label for="Wednesday"> Wednesday </label>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" ng-model="vm.newEvent.isThursday" id="Thursday" value="Thursday" name="Thursday">
                        <label for="Thursday"> Thursday </label>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" ng-model="vm.newEvent.isFriday" id="Friday" value="Friday" name="Friday">
                        <label for="Friday"> Friday </label>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" ng-model="vm.newEvent.isSaturday" id="Saturday" value="Saturday" name="Saturday">
                        <label for="Saturday"> Saturday </label>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" ng-model="vm.newEvent.isSunday" id="Sunday" value="Sunday" name="Sunday">
                        <label for="Sunday"> Sunday </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="text-c">
                    <button class="add-icon" ng-click="vm.add();" ng-show="vm.showadd"><i class="fa fa fa-plus"></i></button>
                    <button class="save-icon" ng-click="vm.addNewEvents();" ng-show="vm.showsave"><i class="fa fa-save"></i></button>
                    <button class="edit-icon" ng-click="vm.edit();" ng-show="vm.showedit"><i class="fa fa-pencil"></i></button>
                    <button class="delete-icon" ng-click="vm.deleteEvents(vm.Calendar.EventsID);" ng-show="vm.showdelete"><i class="fa fa-times"></i></button>
                    <button class="back-icon" ng-click="vm.back();" ng-show="vm.showback"><i class="fa fa-arrow-left"></i></button>
                    <button class="cancel-icon" ng-click="vm.cancel();" ng-show="vm.showcancel"><i class="fa fa-minus-square"></i></button>
                </div>
            </div>
        </div>

       <!-- <div class="show-grid" ng-show="vm.event_detail">
            <div class="col-md-6 col-xs-12 col-md-offset-3 show-grid-leads" ng-repeat="a in vm.Calendars track by $index" ng-click="vm.showeventdetail(a.EventsID, $event)">
                <div class="details">
                    <div class="padding-10">
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="card-company-name padding-b-0 padding-l-15">{{a.Subject}}</span> <span>  12,Aug 2016 </span>
                            </div>
                        </div>

                        <div class="clear-fix"></div>
                        <ul class="basic-list">
                            <li class="margin-l-15 margin-r-15">{{a.StartDate | date}} <span class="right">{{a.EndDate | date}}</span></li>
                            <li class="margin-l-15 margin-r-15">{{a.StartTime | date:"h:mma"}} <span class="right">{{a.EndTime | date:"h:mma"}}</span></li>
                            <li class="margin-l-15 margin-r-15 text-c">
                                <button ng-click="vm.deleteEvents(a.EventsID);" class="delete-icon-sml"><i class="fa fa-close"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    
</div>

