﻿<!--Calender HTML Start -->
<div class="panel-body calendar-body">
    <div class="col-sm-6 panel panel-widget">
        <style>
            div.scrollmenu {
                background-color: #FFF;
                text-align: center;
                white-space: nowrap;
            }

                div.scrollmenu div {
                    display: inline-block;
                    color: black;
                    text-align: center;
                    padding: 14px;
                }

                    div.scrollmenu div:hover {
                        background-color: #FFF;
                    }

            .selectedDate {
                border-bottom: 3px solid orange;
            }
            .controls{
                display:block;
            }
        </style>
        <div>
            <div class="text-center">
                <i class="fa fa-chevron-left" ng-click="vm.decrementDate()"></i>
                {{vm.selectedDate | date :'longDate'}}
                <i class="fa fa-chevron-right" ng-click="vm.incrementDate()"></i>
            </div>
        </div>

        <div class="scrollmenu">
            <div ng-repeat="DateObject in vm.DateObjects" ng-class="(vm.selectedDate | date) == (DateObject.object | date) ?'selectedDate':''" ng-click="vm.changeSelectedDate(DateObject.object)">
                <span class="dhead">{{DateObject.object | date:'EEE'}}</span>
                <br>
                <span class="dnumber">{{DateObject.object | date:'d'}}</span>

            </div>
        </div>

        <div class="controls">

            <button class="sbtn-default add-icon add-lead-button margin-b-10" ng-show="vm.showaddevent" ng-click="vm.add()"><i class="fa fa-plus"></i></button>

            <div class="col-md-6 col-xs-12 col-md-offset-3 show-grid-leads" ng-show="vm.showCalendarFeed" ng-repeat="a in vm.Calendars track by $index" ng-click="vm.ShowCalendarDetail(a.EventsID,a, $event)">

                <div class="details">
                    <div class="padding-10">
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="card-company-name padding-b-0 padding-l-15">{{a.Title}}</span>
                            </div>
                        </div>

                        <div class="clear-fix"></div>
                        <ul class="basic-list">
                            <li class="margin-l-15 margin-r-15">Start <span class="right">{{a.StartDate | date}} {{a.StartTime | date}} </span></li>
                            <li class="margin-l-15 margin-r-15">End <span class="right">{{a.EndDate | date}} {{a.EndTime | date}}</span></li>
                            <li class="margin-l-15 margin-r-15">Location   <span class="right">{{a.Location}}</span></li>
                            <li class="margin-l-15 margin-r-15 text-c">
                                <button ng-click="vm.deleteEvents(a.EventsID);" class="delete-icon-sml"><i class="fa fa-close"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12 col-md-offset-3" ng-show="vm.showCalendarDetail">
                <div ng-include="'/ClientCustomization/calendar/events.html'"></div>
            </div>

        </div>
    </div>
</div>
<!--Calender HTML close -->
